### series 的map方法

  series.map(函数名A)

    原理:把每个series数据滚动逐个访问 函数A 将处理后的返回结果来创建一个新的series.

    特点:每次处理一个数据(在series里)

#### df的apply的方法

  df.apply(函数名A,axis=1)

    原理: 按axis=1 即colounms方向 逐行处理

         滚动逐个 把df的每行数据 访问函数A,把处理后的返回结果来创建一个新的 df

    同理:axis=0时,即按照index 方向 逐列处理

    特点:每次处理一行 或者一列的 series数据

#### df的applymap方法

  df.applymap(函数名A)

    原理:把df里的每个数据交给函数A返回结果创建一个新的df

    特点:每次处理一个数据

#### df的统计函数方法

  df.sum (axis=1)总和

  df.count总个数

  df.mean 平均数

  ...等

#### df的argmax 和idxmax

  df['值1'].argmax 返回df值1里的最大值行号

  df['值1'].idxmax 返回df值1里的最大值的索引
  同理 min 的idxmin也可以返回最小值的行号

#### df的corr() 相关性函数

  df.corr()

    原理:正相关为0-1 值大为优

         负相关为-1-0 值小为优

In [4]:
import pandas as pd
import numpy as np
boolean=[True,False]
gender=["男","女"]
color=["white","black","yellow"]
df1=pd.DataFrame({
    "height":np.random.randint(150,190,10),
    "weight":np.random.randint(40,90,10),
    "smoker":[boolean[x] for x in np.random.randint(0,2,10)],
    "gender":[gender[x] for x in np.random.randint(0,2,10)],
    "age":np.random.randint(15,90,10),
    "color":[color[x] for x in np.random.randint(0,len(color),10) ]
    }
) 
df1

   height  weight  smoker gender  age   color
0     160      67   False      男   75   white
1     182      43   False      女   77  yellow
2     170      51    True      女   48   black
3     150      59    True      女   58   white
4     168      77    True      男   52   white
5     171      66   False      男   19  yellow
6     151      71   False      女   79   black
7     150      61   False      女   21   white
8     159      73   False      女   20  yellow
9     158      70    True      女   49   black

### series 的map方法

In [5]:
sr1=df1['height']
sr1

0    160
1    182
2    170
3    150
4    168
5    171
6    151
7    150
8    159
9    158
Name: height, dtype: int32

In [7]:
sr1.map(lambda x:x+100)

0    260
1    282
2    270
3    250
4    268
5    271
6    251
7    250
8    259
9    258
Name: height, dtype: int64

### df的apply的方法

In [18]:
def go(x):
    if x['age']>50:
        return '老年人'
    else:
        return '青年人'
df1.apply(go,axis=1)

0    老年人
1    老年人
2    青年人
3    老年人
4    老年人
5    青年人
6    老年人
7    青年人
8    青年人
9    青年人
dtype: object

### df的applymap方法

In [19]:
df1.applymap(type)

,height,weight,smoker,gender,age,color
0,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>
1,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>
2,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>
3,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>
4,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>
5,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>
6,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>
7,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>
8,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>
9,<class 'int'>,<class 'int'>,<class 'bool'>,<class 'str'>,<class 'int'>,<class 'str'>

#### df的统计函数方法

In [20]:
df1.sum()

height                                                 1619
weight                                                  638
smoker                                                    4
gender                                           男女女女男男女女女女
age                                                     498
color     whiteyellowblackwhitewhiteyellowblackwhiteyell...
dtype: object

In [23]:
df1.sum(axis=1) #按照行合计,只统计纯数字

0    302.0
1    302.0
2    270.0
3    268.0
4    298.0
5    256.0
6    301.0
7    232.0
8    252.0
9    278.0
dtype: float64

### df的argmax 和idxmax

In [28]:
df1['age'].argmax() #返回age最大值行号

6

In [29]:
df1['age'].idxmax() #返回age最大值索引

6

### 相关性函数corr

In [31]:
df1.corr() #只统计纯数字的 内容,文本内容列自动忽略

          height    weight    smoker       age
height  1.000000 -0.463808 -0.032356  0.103901
weight -0.463808  1.000000  0.036898 -0.238031
smoker -0.032356  0.036898  1.000000  0.071421
age     0.103901 -0.238031  0.071421  1.000000