In [1]:
%%time
import baostock as bs
import pandas as pd
pd.set_option('display.max_rows', 20)
#官网
#http://baostock.com/baostock/index.php/%E9%A6%96%E9%A1%B5

def 保存csv文件(保存路径,df):
    df.to_csv(保存路径,encoding='utf_8_sig',index=False)
def 获取个股df(标的="sh.603508",start='2017-01-01', end='2021-09-10'):
	#### 登陆系统 ####
	lg = bs.login()
	# 显示登陆返回信息
	print('login respond error_code:'+lg.error_code)
	print('login respond  error_msg:'+lg.error_msg)



	# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
	# frequency：数据类型，默认为d，日k线；d=日k线、w=周、m=月、5=5分钟、15=15分钟、30=30分钟、60=60分钟k线数据，
	# frequency：不区分大小写；指数没有分钟线数据；周线每周最后一个交易日才可以获取，月线每月最后一个交易日才可以获取。
	# adjustflag：复权类型，默认不复权：3；1：后复权；2：前复权。
	rs = bs.query_history_k_data_plus(标的,
	    "date,code,time,open,close,volume,amount,high,low",
	    start_date=start, end_date=end,
	    frequency="5", adjustflag="1")
	

	print('query_history_k_data_plus respond error_code:'+rs.error_code)
	print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

	#### 打印结果集 ####
	data_list = []
	while (rs.error_code == '0') & rs.next():
	    # 获取一条记录，将记录合并在一起
	    data_list.append(rs.get_row_data())
	df = pd.DataFrame(data_list, columns=rs.fields)
	# print(df)

	bs.logout()
	return df
	#### 登出系统 ####

if __name__ == '__main__':
    pass
    df=获取个股df()
    df

login success!
login respond error_code:0
login respond  error_msg:success
query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success
logout success!
Wall time: 15.7 s

In [3]:
保存路径='C:/Users/YcAllenEffy/Desktop/样本股603508.csv'
保存csv文件(保存路径,df)

In [7]:
# 读取csv 股票数据

import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 20)#df显示条目设置

保存路径='C:/Users/YcAllenEffy/Desktop/样本股票603508.csv'
df=pd.read_csv(保存路径)
df

,date,code,time,open,close,volume,amount,high,low
0,2017-01-03,sh.603508,20170103093500000,68.93,68.73,27800,1911886.0,68.93,68.52
1,2017-01-03,sh.603508,20170103094000000,68.86,68.81,13500,926565.0,68.86,68.57
2,2017-01-03,sh.603508,20170103094500000,68.81,68.96,23200,1598602.0,68.97,68.78
3,2017-01-03,sh.603508,20170103095000000,68.94,69.07,30800,2127741.0,69.15,68.94
4,2017-01-03,sh.603508,20170103095500000,69.03,68.98,28200,1946039.0,69.03,68.98
...,...,...,...,...,...,...,...,...,...
49963,2021-08-20,sh.603508,20210820144000000,22.44,22.45,31100,698208.0,22.46,22.44
49964,2021-08-20,sh.603508,20210820144500000,22.45,22.57,122031,2747867.0,22.58,22.44
49965,2021-08-20,sh.603508,20210820145000000,22.57,22.50,53329,1201980.0,22.57,22.50
49966,2021-08-20,sh.603508,20210820145500000,22.50,22.43,127500,2868916.0,22.55,22.43
49967,2021-08-20,sh.603508,20210820150000000,22.43,22.47,70800,1590188.0,22.47,22.42

In [8]:
# 数据格式处理
df['time']=df['time'].astype('str')
df['时间']=pd.to_datetime(df['time'].str[:-5])
# df['amount']=df['amount'].astype('float')
# df['open']=df['open'].astype('float')
# df['close']=df['close'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49968 entries, 0 to 49967
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    49968 non-null  object
 1   code    49968 non-null  object
 2   time    49968 non-null  object
 3   open    49968 non-null  float64
 4   close   49968 non-null  float64
 5   volume  49968 non-null  int64
 6   amount  49968 non-null  float64
 7   high    49968 non-null  float64
 8   low     49968 non-null  float64
 9   时间      49968 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 3.8+ MB

In [9]:
# 涨幅 change
# 涨幅度 pct_change 计算出
df['change']=df['close']-df['open']
df['pct_change']=df['change']/df['open']*100
df

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change
0,2017-01-03,sh.603508,20170103093500000,68.93,68.73,27800,1911886.0,68.93,68.52,2017-01-03 09:35:00,-0.20,-0.290149
1,2017-01-03,sh.603508,20170103094000000,68.86,68.81,13500,926565.0,68.86,68.57,2017-01-03 09:40:00,-0.05,-0.072611
2,2017-01-03,sh.603508,20170103094500000,68.81,68.96,23200,1598602.0,68.97,68.78,2017-01-03 09:45:00,0.15,0.217992
3,2017-01-03,sh.603508,20170103095000000,68.94,69.07,30800,2127741.0,69.15,68.94,2017-01-03 09:50:00,0.13,0.188570
4,2017-01-03,sh.603508,20170103095500000,69.03,68.98,28200,1946039.0,69.03,68.98,2017-01-03 09:55:00,-0.05,-0.072432
...,...,...,...,...,...,...,...,...,...,...,...,...
49963,2021-08-20,sh.603508,20210820144000000,22.44,22.45,31100,698208.0,22.46,22.44,2021-08-20 14:40:00,0.01,0.044563
49964,2021-08-20,sh.603508,20210820144500000,22.45,22.57,122031,2747867.0,22.58,22.44,2021-08-20 14:45:00,0.12,0.534521
49965,2021-08-20,sh.603508,20210820145000000,22.57,22.50,53329,1201980.0,22.57,22.50,2021-08-20 14:50:00,-0.07,-0.310146
49966,2021-08-20,sh.603508,20210820145500000,22.50,22.43,127500,2868916.0,22.55,22.43,2021-08-20 14:55:00,-0.07,-0.311111
49967,2021-08-20,sh.603508,20210820150000000,22.43,22.47,70800,1590188.0,22.47,22.42,2021-08-20 15:00:00,0.04,0.178333

In [10]:
# 过筛1  交易额大于2千万
df_ch1=df[df['amount']>20000000]
df_ch1=df_ch1.sort_values('时间',ascending=True)
df_ch1

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change
1708,2017-02-28,sh.603508,20170228132500000,65.98,65.70,307900,20273730.0,66.07,65.45,2017-02-28 13:25:00,-0.28,-0.424371
1954,2017-03-07,sh.603508,20170307135500000,66.79,68.11,434000,29230296.0,68.17,66.70,2017-03-07 13:55:00,1.32,1.976344
2906,2017-04-06,sh.603508,20170406131500000,64.66,66.17,332800,21823934.0,66.33,64.65,2017-04-06 13:15:00,1.51,2.335292
2907,2017-04-06,sh.603508,20170406132000000,66.15,67.22,348300,23411530.0,67.98,66.15,2017-04-06 13:20:00,1.07,1.617536
9486,2017-10-26,sh.603508,20171026133500000,53.94,54.98,428500,23501492.0,55.57,53.94,2017-10-26 13:35:00,1.04,1.928068
...,...,...,...,...,...,...,...,...,...,...,...,...
43874,2021-02-18,sh.603508,20210218094500000,21.22,21.49,1275179,27375501.0,21.51,21.22,2021-02-18 09:45:00,0.27,1.272385
43920,2021-02-19,sh.603508,20210219093500000,21.90,21.93,1129680,24970307.0,22.58,21.60,2021-02-19 09:35:00,0.03,0.136986
49440,2021-08-06,sh.603508,20210806093500000,21.78,21.78,1720122,37464257.0,21.78,21.78,2021-08-06 09:35:00,0.00,0.000000
49488,2021-08-09,sh.603508,20210809093500000,22.80,22.26,2846767,64431630.0,22.81,22.19,2021-08-09 09:35:00,-0.54,-2.368421
49489,2021-08-09,sh.603508,20210809094000000,22.26,22.09,1067484,23606282.0,22.26,21.88,2021-08-09 09:40:00,-0.17,-0.763702

In [11]:
# 过筛2 交易额大于2千万 且 涨幅度大于4%
df_ch2=df_ch1[df_ch1['pct_change']>4]
df_ch2

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change
22975,2019-05-06,sh.603508,20190506134000000,56.40,58.87,444700,25698624.0,58.97,56.40,2019-05-06 13:40:00,2.47,4.379433
23186,2019-05-13,sh.603508,20190513094500000,62.32,65.60,504743,32143843.0,65.88,62.32,2019-05-13 09:45:00,3.28,5.263158
23232,2019-05-14,sh.603508,20190514093500000,66.23,69.50,774096,52375627.0,69.90,66.23,2019-05-14 09:35:00,3.27,4.937340
29232,2019-11-14,sh.603508,20191114093500000,52.77,55.55,608400,33114353.0,55.90,52.77,2019-11-14 09:35:00,2.78,5.268145
30768,2019-12-30,sh.603508,20191230093500000,56.00,58.52,716943,41643728.0,58.98,56.00,2019-12-30 09:35:00,2.52,4.500000
31680,2020-02-04,sh.603508,20200204093500000,45.85,49.50,426048,20220855.0,49.96,45.85,2020-02-04 09:35:00,3.65,7.960742

In [12]:

def 回测(df_ch2):
    # 设置策略 预盈利价格,止损价格
    df_ch2['止损位']=df_ch2['low']
    df_ch2['预盈位']=df_ch2['close']*(1+df_ch2['pct_change']*2*0.01)
    

    # 回测
    for index,row in df_ch2.iterrows():
        start_index=index
        start=1
        count=0

        #进场模拟开始,遍历进场后所有行情
        while start==1:
            index+=1
            count+=1
            #盈利判断
            if row['预盈位']<=df.iloc[index,7]:
                df_ch2.loc[start_index,'盈亏']=round(row['pct_change']*2,2)
                df_ch2.loc[start_index,'卖出时间']=df.iloc[index,9]
                df_ch2.loc[start_index,'卖出价']=round(row['预盈位'],2)
    #             print(row['预盈位'],df.iloc[index,7])
                start=0

            #止损判断
            if row['止损位']>=df.iloc[index,8]:
                df_ch2.loc[start_index,'盈亏']=round((1-row['close']/df.iloc[index,8])*100,2)
                df_ch2.loc[start_index,'卖出时间']=df.iloc[index,9]
                df_ch2.loc[start_index,'卖出价']=round(df.iloc[index,8],2)
    #             print(row['止损位'],df.iloc[index,8])
                start=0
    return df_ch2

        
if __name__ == '__main__':
    pass
#     df_check=回测(df_ch3)
#     df_check

In [13]:

def 回测(df_ch2):
    
    # 设置策略 预盈利价格,止损价格
    df_ch2['止损位']=df_ch2['low']
    df_ch2['预盈位']=df_ch2['close']*(1+df_ch2['pct_change']*2*0.01)
    
    #初始化:
    CD_date=pd.to_datetime('1900-01-01')

    # 回测
    for index,row in df_ch2.iterrows():
        
        #初始化
        into_time=df.iloc[index+1,9] #买入时间,时机的下个五分钟
        into_price=df.iloc[index+1,3] #买入价格,时机的下个五分钟开盘价
        
        deal_during=0
        deal_max=5   #可设置,持股时间(按交易日天算)
        CD_time=0
        
        start_index=index
        start=1
        count=0
        
        #进场前判断
        
        #判断收盘14:49后的时机不进场
        if (row['时间'].hour==14 and row['时间'].minute>49) or row['时间'].hour==15:
            df_ch2.loc[start_index,'盈亏']='未入场'
            df_ch2.loc[start_index,'卖出时间']='未入场'
            df_ch2.loc[start_index,'卖出价']='未入场'
            df_ch2.loc[start_index,'买入价']='未入场'
            df_ch2.loc[start_index,'买入时间']='未入场'
            start=0
            pass
        
        #判断是否在休眠期
        if (row['时间']-CD_date).days<0:
            df_ch2.loc[start_index,'盈亏']='未入场'
            df_ch2.loc[start_index,'卖出时间']='未入场'
            df_ch2.loc[start_index,'卖出价']='未入场'
            df_ch2.loc[start_index,'买入价']='未入场'
            df_ch2.loc[start_index,'买入时间']='未入场'
            start=0
            pass
        
        #进场模拟开始,遍历进场后所有行情
        while start==1:
            index+=1
            count+=1
            
            open1=df.iloc[index,3]
            close=df.iloc[index,4]
            high=df.iloc[index,7]
            low=df.iloc[index,8]
            time1=df.iloc[index,9]
            
            #过滤掉进场当日的记录,因为交易为T+1
            if (df.iloc[index,9]-row['时间']).total_seconds()>66600: 
                #66600换算成秒为18.5小时,刚好是收盘时间到第二天开盘的最短时间
                
                #盈利判断 
                #open位大于预盈时:
                if row['预盈位']<=open1:
                    df_ch2.loc[start_index,'盈亏']=round((open1-into_price)/into_price*100,2)
                    df_ch2.loc[start_index,'卖出时间']=df.iloc[index,9]
                    df_ch2.loc[start_index,'卖出价']=round(row['预盈位'],2)
                    df_ch2.loc[start_index,'买入价']=into_price
                    df_ch2.loc[start_index,'买入时间']=into_time
        #             print(row['预盈位'],df.iloc[index,7])
                    start=0
                
                    #进入休眠日期的计算 :卖出时间+需要休眠的天数
                    CD_date=df.iloc[index+(CD_time)*48,9]
                    print('休眠期的计算',df.iloc[index,9],CD_date)
                    
                #open位大于预盈时:
                elif row['预盈位']<=high:
                    df_ch2.loc[start_index,'盈亏']=round(row['pct_change']*2,2)
                    df_ch2.loc[start_index,'卖出时间']=df.iloc[index,9]
                    df_ch2.loc[start_index,'卖出价']=round(row['预盈位'],2)
                    df_ch2.loc[start_index,'买入价']=into_price
                    df_ch2.loc[start_index,'买入时间']=into_time
        #             print(row['预盈位'],df.iloc[index,7])
                    start=0

                    #进入休眠日期的计算 :卖出时间+需要休眠的天数
                    CD_date=df.iloc[index+(CD_time)*48,9]
                    print('休眠期的计算',df.iloc[index,9],CD_date)
                    
                elif row['止损位']>=open1:
                    df_ch2.loc[start_index,'盈亏']=round((open1-into_price)/into_price*100,2)
                    df_ch2.loc[start_index,'卖出时间']=df.iloc[index,9]
                    df_ch2.loc[start_index,'卖出价']=round(open1,2)
        #             print(row['止损位'],df.iloc[index,8])
                    
                    df_ch2.loc[start_index,'买入价']=into_price
                    df_ch2.loc[start_index,'买入时间']=into_time
                    

                #止损判断
                elif row['止损位']>=low:
                    df_ch2.loc[start_index,'盈亏']=round((row['止损位']-into_price)/into_price*100,2)
                    df_ch2.loc[start_index,'卖出时间']=df.iloc[index,9]
                    df_ch2.loc[start_index,'卖出价']=round(row['止损位'],2)
        #             print(row['止损位'],df.iloc[index,8])
                    
                    df_ch2.loc[start_index,'买入价']=into_price
                    df_ch2.loc[start_index,'买入时间']=into_time
                    start=0

                #进场日计算 and 手持超5日出场
                elif df.iloc[index,9].hour==15 and df.iloc[index,9].minute==0:
                    deal_during+=1
                    if deal_during>deal_max:
                        df_ch2.loc[start_index,'盈亏']=round((df.iloc[index,3]-into_price)/into_price*100,2)
                        df_ch2.loc[start_index,'卖出时间']=df.iloc[index,9]
                        df_ch2.loc[start_index,'卖出价']=df.iloc[index,3]
                        df_ch2.loc[start_index,'买入价']=into_price
                        df_ch2.loc[start_index,'买入时间']=into_time
                        start=0

                
            
    return df_ch2

        
if __name__ == '__main__':
    pass
    df_check=回测(df_ch3)
    df_check

NameError: name 'df_ch3' is not defined

In [ ]:
# 删除未入场时机
df_check=df_check.drop(df_check[df_check['盈亏']=='未入场'].index)
df_check

In [ ]:
df_check.sum()

In [ ]:
pd.set_option('display.max_rows',50)
df.sort_values('amount',ascending=False).head(900)

In [ ]:
df_time=df.copy()
df_time

In [ ]:
df_time.index=df_time['时间']

In [ ]:
df_time['年']=df_time['时间'].dt.year
g_mean=df_time.groupby('年').mean()
g_mean

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns
#设置画图 中文字体初始化
sns.set_style('whitegrid', {'font.sans-serif':['simhei', 'Arial']})
sns.barplot(x=g_mean.index,y='amount',data=g_mean)

In [ ]:
df_time.loc['2021'].sort_values('amount',ascending=False).head(70)

In [ ]:
df_time.loc['2019'].sort_values('pct_change',ascending=False).head(20)

In [ ]:
df_ch3=df_time.loc['2020'].sort_values('pct_change',ascending=False).head(20)

In [ ]:
df_ch3.index.name='时间索引'
df_ch3=df_ch3.sort_values('时间')

In [ ]:
# 删除同天的记录
time1=0
for index1,row in df_ch3.iterrows():
    if row['时间'].date()==time1:
        df_ch3=df_ch3.drop(index1)
    time1=row['时间'].date()
#     print(row['时间'].date())

In [ ]:
# 重设 序号为索引
df['序号']=df.index
df_merge3=df[['时间','序号']]
df_ch3.index=pd.merge(df_ch3,df_merge3,on='时间')['序号']
df_ch3

In [ ]:
df

In [ ]:
import pandas as pd
import numpy as np


def 时间格式处理(df):
	# 数据格式处理
	df['time']=df['time'].astype('str')
	df['时间']=pd.to_datetime(df['time'].str[:-5])
	# df['close']=df['close'].astype('float')

	df['change']=df['close']-df['open']
	df['pct_change']=df['change']/df['open']*100
	df['年']=df['时间'].dt.year
	# return df
	# df.info()

def 获取csv数据(保存路径='C:/Users/YcAllenEffy/Desktop/样本股1.csv'):

	# 保存路径='C:/Users/YcAllenEffy/Desktop/样本股票603508.csv'
	df=pd.read_csv(保存路径)
	return df

df=获取csv数据()
时间格式处理(df)
df

In [17]:
df

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change
0,2017-01-03,sh.603508,20170103093500000,68.93,68.73,27800,1911886.0,68.93,68.52,2017-01-03 09:35:00,-0.20,-0.290149
1,2017-01-03,sh.603508,20170103094000000,68.86,68.81,13500,926565.0,68.86,68.57,2017-01-03 09:40:00,-0.05,-0.072611
2,2017-01-03,sh.603508,20170103094500000,68.81,68.96,23200,1598602.0,68.97,68.78,2017-01-03 09:45:00,0.15,0.217992
3,2017-01-03,sh.603508,20170103095000000,68.94,69.07,30800,2127741.0,69.15,68.94,2017-01-03 09:50:00,0.13,0.188570
4,2017-01-03,sh.603508,20170103095500000,69.03,68.98,28200,1946039.0,69.03,68.98,2017-01-03 09:55:00,-0.05,-0.072432
...,...,...,...,...,...,...,...,...,...,...,...,...
49963,2021-08-20,sh.603508,20210820144000000,22.44,22.45,31100,698208.0,22.46,22.44,2021-08-20 14:40:00,0.01,0.044563
49964,2021-08-20,sh.603508,20210820144500000,22.45,22.57,122031,2747867.0,22.58,22.44,2021-08-20 14:45:00,0.12,0.534521
49965,2021-08-20,sh.603508,20210820145000000,22.57,22.50,53329,1201980.0,22.57,22.50,2021-08-20 14:50:00,-0.07,-0.310146
49966,2021-08-20,sh.603508,20210820145500000,22.50,22.43,127500,2868916.0,22.55,22.43,2021-08-20 14:55:00,-0.07,-0.311111
49967,2021-08-20,sh.603508,20210820150000000,22.43,22.47,70800,1590188.0,22.47,22.42,2021-08-20 15:00:00,0.04,0.178333

In [19]:
df[df['open'].isin([68.93])]

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change
0,2017-01-03,sh.603508,20170103093500000,68.93,68.73,27800,1911886.0,68.93,68.52,2017-01-03 09:35:00,-0.20,-0.290149
171,2017-01-06,sh.603508,20170106132000000,68.93,68.92,16900,1165646.0,69.09,68.89,2017-01-06 13:20:00,-0.01,-0.014507
175,2017-01-06,sh.603508,20170106134000000,68.93,68.79,41300,2842046.0,68.93,68.70,2017-01-06 13:40:00,-0.14,-0.203105
182,2017-01-06,sh.603508,20170106141500000,68.93,68.94,7600,523887.0,68.97,68.92,2017-01-06 14:15:00,0.01,0.014507
280,2017-01-10,sh.603508,20170110142500000,68.93,68.86,28100,1935404.0,68.93,68.85,2017-01-10 14:25:00,-0.07,-0.101552

In [7]:
import sys
sys.path.append('D:/PythonStudy_Git/股票量化实践')
import df股票数据处理 as 处理
import 寻求时机
import 回测df
df=处理.获取csv数据()
处理.时间格式处理(df)
df_all=df.copy()
df=寻求时机.时机(df)

回测df.回测(df,df_all)

休眠期的计算 2017-01-17 14:30:00 2017-01-17 14:30:00

,date,code,time,open,close,volume,amount,high,low,时间,...,pct_change,年,序号,止损位,预盈位,盈亏,卖出时间,卖出价,买入价,买入时间
序号索引,,,,,,,,,,,,,,,,,,,,,
20,2017-01-04,sh.603508,20170104104500000,70.15,71.33,237800,16781645.0,71.33,70.10,2017-01-04 10:45:00,...,1.682110,2017,20,70.10,73.729698,-1.64,2017-01-06 10:00:00,70.1,71.27,2017-01-04 11:00:00
158,2017-01-16,sh.603508,20170116144500000,57.79,59.01,168400,9877570.0,59.10,57.79,2017-01-16 14:45:00,...,2.111092,2017,158,57.79,61.501511,4.22,2017-01-17 14:30:00,61.5,59,2017-01-16 15:00:00
160,2017-01-17,sh.603508,20170117094500000,59.00,59.80,104200,6174959.0,59.80,58.71,2017-01-17 09:45:00,...,1.355932,2017,160,58.71,61.421695,未入场,未入场,未入场,未入场,未入场
170,2017-01-17,sh.603508,20170117134500000,59.12,59.82,125900,7513589.0,59.94,59.12,2017-01-17 13:45:00,...,1.184032,2017,170,59.12,61.236576,未入场,未入场,未入场,未入场,未入场
171,2017-01-17,sh.603508,20170117140000000,59.82,60.69,164500,9905392.0,60.86,59.82,2017-01-17 14:00:00,...,1.454363,2017,171,59.82,62.455306,未入场,未入场,未入场,未入场,未入场