In [10]:
import pandas as pd
import numpy as np
# 歪枣网网址
# http://waizaowang.com/api/detail/101


web='http://api.waizaowang.com/doc/getStockHSAMinuteKLine?\
code=000001,000002&\
startDate=2021-09-09&endDate=2100-01-01&\
fields=code,tdate,open&\
export=4&token=a69868d089b1898afdd6e1e17d13d66c'

df=pd.read_csv(web)

df

        code                  tdate   open
0       股票代码                   分时时间    开盘价
1     000001  2021-09-09 09:15:00.0  19.23
2     000001  2021-09-09 09:16:00.0  19.23
3     000001  2021-09-09 09:17:00.0  19.23
4     000001  2021-09-09 09:18:00.0  19.23
...      ...                    ...    ...
1020  000002  2021-09-10 14:56:00.0  20.42
1021  000002  2021-09-10 14:57:00.0   20.4
1022  000002  2021-09-10 14:58:00.0  20.41
1023  000002  2021-09-10 14:59:00.0  20.41
1024  000002  2021-09-10 15:00:00.0   20.4

[1025 rows x 3 columns]

In [12]:
df=df.drop(0)

In [13]:
df['tdate']=pd.to_datetime(df['tdate'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 1 to 1024
Data columns (total 3 columns):
code     1024 non-null object
tdate    1024 non-null datetime64[ns]
open     1024 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 32.0+ KB