In [2]:
import pandas as pd
import numpy as np

#获取港股列表
web='http://api.waizaowang.com/doc/getStockHKBaseInfo?code=all&fields=code,name,market&export=4&token=a69868d089b1898afdd6e1e17d13d66c'
#获取港股 个股数据(按日)
web1='http://api.waizaowang.com/doc/getStockHKDayKLine?code=00322&startDate=2014-09-02&endDate=2100-01-01&ktype=101&fields=code,name,tdate&export=4&token=a69868d089b1898afdd6e1e17d13d66c'

df=pd.read_csv(web1)
df

       code   name       tdate
0      股票代码   股票名称        交易时间
1     00322  康师傅控股  2014-09-02
2     00322  康师傅控股  2014-09-03
3     00322  康师傅控股  2014-09-04
4     00322  康师傅控股  2014-09-05
...     ...    ...         ...
1731  00322  康师傅控股  2021-09-09
1732  00322  康师傅控股  2021-09-10
1733  00322  康师傅控股  2021-09-13
1734  00322  康师傅控股  2021-09-14
1735  00322  康师傅控股  2021-09-15

[1736 rows x 3 columns]

In [3]:
df=df.drop(0)

In [4]:
df['tdate']=pd.to_datetime(df['tdate'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1735 entries, 1 to 1735
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    1735 non-null   object
 1   name    1735 non-null   object
 2   tdate   1735 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 54.2+ KB

In [6]:
df

       code   name      tdate
1     00322  康师傅控股 2014-09-02
2     00322  康师傅控股 2014-09-03
3     00322  康师傅控股 2014-09-04
4     00322  康师傅控股 2014-09-05
5     00322  康师傅控股 2014-09-08
...     ...    ...        ...
1731  00322  康师傅控股 2021-09-09
1732  00322  康师傅控股 2021-09-10
1733  00322  康师傅控股 2021-09-13
1734  00322  康师傅控股 2021-09-14
1735  00322  康师傅控股 2021-09-15

[1735 rows x 3 columns]