### series对象:pands里的列对象

In [1]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'列名1':np.random.randint(0,10,5),'列名2':np.random.randint(0,2,5)})
df1

   列名1  列名2
0    8    0
1    4    0
2    6    0
3    8    0
4    6    0

### dataframe就是若干个series列拼接在一起的

In [2]:
sr1=df1['列名1']
sr1

0    8
1    4
2    6
3    8
4    6
Name: 列名1, dtype: int32

In [3]:
type(sr1)

pandas.core.series.Series

### series包含index和values
#### series对象的values属性
#### series对象的index对象
    他们都属于numpy的ndarry对象

In [7]:
type(sr1.values)

numpy.ndarray

In [6]:
type(sr1.index)

pandas.core.indexes.range.RangeIndex

### series对象的创建 pandas.series(a,b) a代表值,b代表索引

In [11]:
a=['一','二','三']
b=[11,22,33]
sr2=pd.Series(b,a)
sr2

一    11
二    22
三    33
dtype: int64

### series的index属性:可以随时更换series.index=['1','2']

In [16]:
sr2.index=['五五','六六','七七']
sr2

五五    11
六六    22
七七    33
dtype: int64

### series 对象可以引用 0-9下标取数据的,不过如果索引包含数字的情况下就会失效,只能使用索引的名字取数据

In [18]:
sr2[2]

33