In [14]:
import sys
sys.path.append('D:/PythonStudy_Git/股票量化实践')
import df股票数据处理 as 处理
# import df寻求时机
# import df回测
df=处理.获取csv数据(保存路径='C:/Users/YcAllenEffy/Desktop/样本股603508.csv')
处理.时间格式处理(df)
df_all=df.copy()

# df=寻求时机.时机(df)
# 回测df.回测(df,df_all)

In [15]:
import df寻求时机
df=df寻求时机.时机(df)
df

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change,年,序号
序号索引,,,,,,,,,,,,,,
518,2017-01-17,sh.603508,20170117141500000,60.327693,61.449510,65800,3999398.0,61.449510,60.317677,2017-01-17 14:15:00,1.121817,1.859538,2017,518
1707,2017-02-28,sh.603508,20170228132000000,63.532883,65.966825,306800,19856750.0,65.966825,63.532883,2017-02-28 13:20:00,2.433941,3.830995,2017,1707
1953,2017-03-07,sh.603508,20170307135000000,65.165527,66.888317,286800,18924092.0,66.898333,65.165527,2017-03-07 13:50:00,1.722790,2.643713,2017,1953
1954,2017-03-07,sh.603508,20170307135500000,66.898333,68.220474,434000,29230296.0,68.280572,66.808187,2017-03-07 13:55:00,1.322141,1.976344,2017,1954
2905,2017-04-06,sh.603508,20170406131000000,62.871813,64.764879,258000,16571972.0,65.085398,62.871813,2017-04-06 13:10:00,1.893066,3.010993,2017,2905
2906,2017-04-06,sh.603508,20170406131500000,64.764879,66.277328,332800,21823934.0,66.437587,64.754862,2017-04-06 13:15:00,1.512449,2.335292,2017,2906
4648,2017-05-31,sh.603508,20170531142500000,52.702766,55.681005,256100,13902146.0,56.324949,52.702766,2017-05-31 14:25:00,2.978240,5.651012,2017,4648
9486,2017-10-26,sh.603508,20171026133500000,54.272378,55.318787,428500,23501492.0,55.912422,54.272378,2017-10-26 13:35:00,1.046408,1.928068,2017,9486

In [20]:
 def 回测7日峰值(df,df_all):
    
    for index,row in df.iterrows():
        
        峰值日=7
        峰值日期=df_all.iloc[index+(峰值日*48),9]
        start=1
        max_values=0
        start_index=index
        
        while start==1:
            index+=1
            if (峰值日期-df_all.iloc[index,9]).total_seconds()>0:
                if max_values<df_all.iloc[index,7]:
                    max_values=df_all.iloc[index,7]
            else:
                df.loc[start_index,'7日峰值']=round(max_values,2)
                df.loc[start_index,'7日峰值涨幅']=round((round(max_values,2)-df.loc[start_index,'high'])/df.loc[start_index,'high']*100,2)
                start=0
    return df

In [21]:

df=回测7日峰值(df,df_all)
df

,date,code,time,open,close,volume,amount,high,low,时间,change,pct_change,年,序号,7日峰值,7日峰值涨幅
序号索引,,,,,,,,,,,,,,,,
518,2017-01-17,sh.603508,20170117141500000,60.327693,61.449510,65800,3999398.0,61.449510,60.317677,2017-01-17 14:15:00,1.121817,1.859538,2017,518,62.66,1.97
1707,2017-02-28,sh.603508,20170228132000000,63.532883,65.966825,306800,19856750.0,65.966825,63.532883,2017-02-28 13:20:00,2.433941,3.830995,2017,1707,68.46,3.78
1953,2017-03-07,sh.603508,20170307135000000,65.165527,66.888317,286800,18924092.0,66.898333,65.165527,2017-03-07 13:50:00,1.722790,2.643713,2017,1953,68.46,2.33
1954,2017-03-07,sh.603508,20170307135500000,66.898333,68.220474,434000,29230296.0,68.280572,66.808187,2017-03-07 13:55:00,1.322141,1.976344,2017,1954,68.46,0.26
2905,2017-04-06,sh.603508,20170406131000000,62.871813,64.764879,258000,16571972.0,65.085398,62.871813,2017-04-06 13:10:00,1.893066,3.010993,2017,2905,68.09,4.62
2906,2017-04-06,sh.603508,20170406131500000,64.764879,66.277328,332800,21823934.0,66.437587,64.754862,2017-04-06 13:15:00,1.512449,2.335292,2017,2906,68.09,2.49
4648,2017-05-31,sh.603508,20170531142500000,52.702766,55.681005,256100,13902146.0,56.324949,52.702766,2017-05-31 14:25:00,2.978240,5.651012,2017,4648,55.89,-0.77
9486,2017-10-26,sh.603508,20171026133500000,54.272378,55.318787,428500,23501492.0,55.912422,54.272378,2017-10-26 13:35:00,1.046408,1.928068,2017,9486,56.86,1.69

In [ ]:
df