In [1]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML
CSS=""".output{ flex-direction:row;}"""
HTML('<style>{}</style>'.format(CSS))

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)
sh=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\school22.xlsx',sheet_name=[0,1,2,3])
df1=sh[0]
df2=sh[1]
df3=sh[2]
df4=sh[3]

In [10]:
gb=df4.groupby('学生编号').sum()
gb['总分']=gb['分数']
gb[['总分']]

         总分
学生编号
1     411.0
2     584.0
3     431.0
4     617.0
5     348.0

In [12]:
gb1=df4.groupby('课程编号').mean()
gb1['平均分']=gb1[['分数']]
gb1[['平均分']]

        平均分
课程编号
1     76.40
2     64.25
3     71.75
4     83.50
5     63.50
6     67.00
7     83.25
8     71.40
9     71.00

In [13]:
score = df4

res1 = score.groupby('学生编号')['分数'].sum()
res2 = score.groupby('课程编号')['分数'].mean()
res1

学生编号
1    411.0
2    584.0
3    431.0
4    617.0
5    348.0
Name: 分数, dtype: float64

In [14]:
df24=pd.merge(df2,df4)
df24

    课程编号  课程  教师编号  评价  分数编号  学生编号    分数
0      1  语文     1   5     1     1  72.0
1      1  语文     1   5    10     2  68.0
2      1  语文     1   5    19     3  74.0
3      1  语文     1   5    28     4  93.0
4      1  语文     1   5    37     5  75.0
5      2  数学     2   3     2     1  48.0
6      2  数学     2   3    11     2  68.0
7      2  数学     2   3    20     3  74.0
8      2  数学     2   3    29     4  67.0
9      2  数学     2   3    38     5   NaN
10     3  英语     3   6     3     1  57.0
11     3  英语     3   6    12     2  68.0
12     3  英语     3   6    21     3  93.0
13     3  英语     3   6    30     4  69.0
14     4  物理     4   8    13     2  98.0
15     4  物理     4   8    31     4  69.0
16     5  化学     5   8    14     2   NaN
17     5  化学     5   8    23     3  57.0
18     5  化学     5   8    41     5  70.0
19     6  生物     6   7     6     1  86.0
20     6  生物     6   7    15     2  60.0
21     6  生物     6   7    24     3  53.0
22     6  生物     6   7    33     4  69.0
23     7  政治     7   5     7     1  74.0
24     7  政治     7   5    16     2  87.0
25     7  政治     7   5    34     4  86.0
26     7  政治     7   5    43     5  86.0
27     8  地理     8   6     8     1  74.0
28     8  地理     8   6    17     2  49.0
29     8  地理     8   6    26     3  80.0
30     8  地理     8   6    35     4  87.0
31     8  地理     8   6    44     5  67.0
32     9  历史     9   4    18     2  86.0
33     9  历史     9   4    27     3   NaN
34     9  历史     9   4    36     4  77.0
35     9  历史     9   4    45     5  50.0

In [16]:
gb24=df24.groupby('课程编号').max()
gb24.sort_values('分数',ascending=False)

      课程  教师编号  评价  分数编号  学生编号    分数
课程编号
4     物理     4   8    31     4  98.0
1     语文     1   5    37     5  93.0
3     英语     3   6    30     4  93.0
7     政治     7   5    43     5  87.0
8     地理     8   6    44     5  87.0
6     生物     6   7    33     4  86.0
9     历史     9   4    45     5  86.0
2     数学     2   3    38     5  74.0
5     化学     5   8    41     5  70.0

In [18]:
gb24=df24.groupby('课程编号').count()
gb24.sort_values('分数')

      课程  教师编号  评价  分数编号  学生编号  分数
课程编号
4      2     2   2     2     2   2
5      3     3   3     3     3   2
9      4     4   4     4     4   3
2      5     5   5     5     5   4
3      4     4   4     4     4   4
6      4     4   4     4     4   4
7      4     4   4     4     4   4
1      5     5   5     5     5   5
8      5     5   5     5     5   5

In [22]:
df24=pd.merge(df2,df4)

df234=pd.merge(df24,df3,on='教师编号')
df234

    课程编号  课程  教师编号  评价_x  分数编号  学生编号    分数  教师姓名  评价_y
0      1  语文     1     5     1     1  72.0    张平     8
1      1  语文     1     5    10     2  68.0    张平     8
2      1  语文     1     5    19     3  74.0    张平     8
3      1  语文     1     5    28     4  93.0    张平     8
4      1  语文     1     5    37     5  75.0    张平     8
5      2  数学     2     3     2     1  48.0    王爽     7
6      2  数学     2     3    11     2  68.0    王爽     7
7      2  数学     2     3    20     3  74.0    王爽     7
8      2  数学     2     3    29     4  67.0    王爽     7
9      2  数学     2     3    38     5   NaN    王爽     7
10     3  英语     3     6     3     1  57.0    张瑶     5
11     3  英语     3     6    12     2  68.0    张瑶     5
12     3  英语     3     6    21     3  93.0    张瑶     5
13     3  英语     3     6    30     4  69.0    张瑶     5
14     4  物理     4     8    13     2  98.0  欧阳婉儿     6
15     4  物理     4     8    31     4  69.0  欧阳婉儿     6
16     5  化学     5     8    14     2   NaN   范文轩     4
17     5  化学     5     8    23     3  57.0   范文轩     4
18     5  化学     5     8    41     5  70.0   范文轩     4
19     6  生物     6     7     6     1  86.0   华方泽     5
20     6  生物     6     7    15     2  60.0   华方泽     5
21     6  生物     6     7    24     3  53.0   华方泽     5
22     6  生物     6     7    33     4  69.0   华方泽     5
23     7  政治     7     5     7     1  74.0   卢建业     3
24     7  政治     7     5    16     2  87.0   卢建业     3
25     7  政治     7     5    34     4  86.0   卢建业     3
26     7  政治     7     5    43     5  86.0   卢建业     3
27     8  地理     8     6     8     1  74.0   许岩松     6
28     8  地理     8     6    17     2  49.0   许岩松     6
29     8  地理     8     6    26     3  80.0   许岩松     6
30     8  地理     8     6    35     4  87.0   许岩松     6
31     8  地理     8     6    44     5  67.0   许岩松     6
32     9  历史     9     4    18     2  86.0   霍英芳     8
33     9  历史     9     4    27     3   NaN   霍英芳     8
34     9  历史     9     4    36     4  77.0   霍英芳     8
35     9  历史     9     4    45     5  50.0   霍英芳     8

In [24]:
gb234=df234.groupby('学生编号').aggregate({'分数':'mean','评价_x':'median','评价_y':'min'})
gb234

             分数  评价_x  评价_y
学生编号
1     68.500000   5.5     3
2     73.000000   6.0     3
3     71.833333   6.0     4
4     77.125000   5.5     3
5     69.600000   5.0     3

In [25]:
df14=pd.merge(df1,df4)
df14

    学生编号 学生姓名  年龄 性别  分数编号  课程编号    分数
0      1  赵婉清  14  女     1     1  72.0
1      1  赵婉清  14  女     2     2  48.0
2      1  赵婉清  14  女     3     3  57.0
3      1  赵婉清  14  女     6     6  86.0
4      1  赵婉清  14  女     7     7  74.0
5      1  赵婉清  14  女     8     8  74.0
6      2  贰曼珠  14  女    10     1  68.0
7      2  贰曼珠  14  女    11     2  68.0
8      2  贰曼珠  14  女    12     3  68.0
9      2  贰曼珠  14  女    13     4  98.0
10     2  贰曼珠  14  女    14     5   NaN
11     2  贰曼珠  14  女    15     6  60.0
12     2  贰曼珠  14  女    16     7  87.0
13     2  贰曼珠  14  女    17     8  49.0
14     2  贰曼珠  14  女    18     9  86.0
15     3  裴冬雪  14  女    19     1  74.0
16     3  裴冬雪  14  女    20     2  74.0
17     3  裴冬雪  14  女    21     3  93.0
18     3  裴冬雪  14  女    23     5  57.0
19     3  裴冬雪  14  女    24     6  53.0
20     3  裴冬雪  14  女    26     8  80.0
21     3  裴冬雪  14  女    27     9   NaN
22     4  鲍浩阔  13  女    28     1  93.0
23     4  鲍浩阔  13  女    29     2  67.0
24     4  鲍浩阔  13  女    30     3  69.0
25     4  鲍浩阔  13  女    31     4  69.0
26     4  鲍浩阔  13  女    33     6  69.0
27     4  鲍浩阔  13  女    34     7  86.0
28     4  鲍浩阔  13  女    35     8  87.0
29     4  鲍浩阔  13  女    36     9  77.0
30     5  赵雪凝  13  男    37     1  75.0
31     5  赵雪凝  13  男    38     2   NaN
32     5  赵雪凝  13  男    41     5  70.0
33     5  赵雪凝  13  男    43     7  86.0
34     5  赵雪凝  13  男    44     8  67.0
35     5  赵雪凝  13  男    45     9  50.0

In [52]:
res1=df14.groupby('学生编号').filter(lambda g:g['分数'].mean()>72)
res1 = res1[['学生姓名', '分数', '年龄']]
res1

   学生姓名    分数  年龄
6   贰曼珠  68.0  14
7   贰曼珠  68.0  14
8   贰曼珠  68.0  14
9   贰曼珠  98.0  14
10  贰曼珠   NaN  14
11  贰曼珠  60.0  14
12  贰曼珠  87.0  14
13  贰曼珠  49.0  14
14  贰曼珠  86.0  14
22  鲍浩阔  93.0  13
23  鲍浩阔  67.0  13
24  鲍浩阔  69.0  13
25  鲍浩阔  69.0  13
26  鲍浩阔  69.0  13
27  鲍浩阔  86.0  13
28  鲍浩阔  87.0  13
29  鲍浩阔  77.0  13

In [35]:
df234

    课程编号  课程  教师编号  评价_x  分数编号  学生编号    分数  教师姓名  评价_y
0      1  语文     1     5     1     1  72.0    张平     8
1      1  语文     1     5    10     2  68.0    张平     8
2      1  语文     1     5    19     3  74.0    张平     8
3      1  语文     1     5    28     4  93.0    张平     8
4      1  语文     1     5    37     5  75.0    张平     8
5      2  数学     2     3     2     1  48.0    王爽     7
6      2  数学     2     3    11     2  68.0    王爽     7
7      2  数学     2     3    20     3  74.0    王爽     7
8      2  数学     2     3    29     4  67.0    王爽     7
9      2  数学     2     3    38     5   NaN    王爽     7
10     3  英语     3     6     3     1  57.0    张瑶     5
11     3  英语     3     6    12     2  68.0    张瑶     5
12     3  英语     3     6    21     3  93.0    张瑶     5
13     3  英语     3     6    30     4  69.0    张瑶     5
14     4  物理     4     8    13     2  98.0  欧阳婉儿     6
15     4  物理     4     8    31     4  69.0  欧阳婉儿     6
16     5  化学     5     8    14     2   NaN   范文轩     4
17     5  化学     5     8    23     3  57.0   范文轩     4
18     5  化学     5     8    41     5  70.0   范文轩     4
19     6  生物     6     7     6     1  86.0   华方泽     5
20     6  生物     6     7    15     2  60.0   华方泽     5
21     6  生物     6     7    24     3  53.0   华方泽     5
22     6  生物     6     7    33     4  69.0   华方泽     5
23     7  政治     7     5     7     1  74.0   卢建业     3
24     7  政治     7     5    16     2  87.0   卢建业     3
25     7  政治     7     5    34     4  86.0   卢建业     3
26     7  政治     7     5    43     5  86.0   卢建业     3
27     8  地理     8     6     8     1  74.0   许岩松     6
28     8  地理     8     6    17     2  49.0   许岩松     6
29     8  地理     8     6    26     3  80.0   许岩松     6
30     8  地理     8     6    35     4  87.0   许岩松     6
31     8  地理     8     6    44     5  67.0   许岩松     6
32     9  历史     9     4    18     2  86.0   霍英芳     8
33     9  历史     9     4    27     3   NaN   霍英芳     8
34     9  历史     9     4    36     4  77.0   霍英芳     8
35     9  历史     9     4    45     5  50.0   霍英芳     8

In [39]:
df课程=df2.groupby('课程').max()

In [42]:
df课程8=df课程[df课程['评价']>=8]

In [47]:
df教师=df2.groupby('教师编号').filter(lambda g:g['课程'].count()<2)

In [48]:
df23=pd.merge(df课程8,df教师,on='教师编号')
df23

   课程编号_x  教师编号  评价_x  课程编号_y  课程  评价_y
0       5     5     8       5  化学     8
1       4     4     8       4  物理     8

In [55]:
data = pd.merge(df2, df3, on='教师编号')
res2 = data.groupby('教师姓名').filter(lambda x: x['评价_x'].max()>=8 and x['课程编号'].count()<2)
# res2 = res2[['教师姓名', '课程', '评价_x']]
res2

   课程编号  课程  教师编号  评价_x  教师姓名  评价_y
4     4  物理     4     8  欧阳婉儿     6
5     5  化学     5     8   范文轩     4

In [54]:
data

   课程编号  课程  教师编号  评价_x  教师姓名  评价_y
0     1  语文     1     5    张平     8
1     2  数学     2     3    王爽     7
2    10  选修     2     9    王爽     7
3     3  英语     3     6    张瑶     5
4     4  物理     4     8  欧阳婉儿     6
5     5  化学     5     8   范文轩     4
6     6  生物     6     7   华方泽     5
7     7  政治     7     5   卢建业     3
8     8  地理     8     6   许岩松     6
9     9  历史     9     4   霍英芳     8

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)
sh=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\school22.xlsx',sheet_name=[0,1,2,3])
df1=sh[0]
df2=sh[1]
df3=sh[2]
df4=sh[3]

In [2]:
df1

   学生编号 学生姓名  年龄 性别
0     1  赵婉清  14  女
1     2  贰曼珠  14  女
2     3  裴冬雪  14  女
3     4  鲍浩阔  13  女
4     5  赵雪凝  13  男
5     6  白涵桃  14  男
6     7  衡紫萱  13  女
7     8  李俟侬  13  男
8     9  白飞兰  13  女
9    10  李诗桃  15  男

In [3]:
df14=pd.merge(df1,df4)
df14

    学生编号 学生姓名  年龄 性别  分数编号  课程编号    分数
0      1  赵婉清  14  女     1     1  72.0
1      1  赵婉清  14  女     2     2  48.0
2      1  赵婉清  14  女     3     3  57.0
3      1  赵婉清  14  女     6     6  86.0
4      1  赵婉清  14  女     7     7  74.0
5      1  赵婉清  14  女     8     8  74.0
6      2  贰曼珠  14  女    10     1  68.0
7      2  贰曼珠  14  女    11     2  68.0
8      2  贰曼珠  14  女    12     3  68.0
9      2  贰曼珠  14  女    13     4  98.0
10     2  贰曼珠  14  女    14     5   NaN
11     2  贰曼珠  14  女    15     6  60.0
12     2  贰曼珠  14  女    16     7  87.0
13     2  贰曼珠  14  女    17     8  49.0
14     2  贰曼珠  14  女    18     9  86.0
15     3  裴冬雪  14  女    19     1  74.0
16     3  裴冬雪  14  女    20     2  74.0
17     3  裴冬雪  14  女    21     3  93.0
18     3  裴冬雪  14  女    23     5  57.0
19     3  裴冬雪  14  女    24     6  53.0
20     3  裴冬雪  14  女    26     8  80.0
21     3  裴冬雪  14  女    27     9   NaN
22     4  鲍浩阔  13  女    28     1  93.0
23     4  鲍浩阔  13  女    29     2  67.0
24     4  鲍浩阔  13  女    30     3  69.0
25     4  鲍浩阔  13  女    31     4  69.0
26     4  鲍浩阔  13  女    33     6  69.0
27     4  鲍浩阔  13  女    34     7  86.0
28     4  鲍浩阔  13  女    35     8  87.0
29     4  鲍浩阔  13  女    36     9  77.0
30     5  赵雪凝  13  男    37     1  75.0
31     5  赵雪凝  13  男    38     2   NaN
32     5  赵雪凝  13  男    41     5  70.0
33     5  赵雪凝  13  男    43     7  86.0
34     5  赵雪凝  13  男    44     8  67.0
35     5  赵雪凝  13  男    45     9  50.0

In [6]:
df14.groupby(['性别','年龄'])['学生编号'].count().unstack()

年龄   13    14
性别
女   8.0  22.0
男   6.0   NaN

In [10]:
df14.groupby(['年龄','课程编号'])['分数'].mean().unstack().round(1)

课程编号     1     2     3     4     5     6     7     8     9
年龄
13    84.0  67.0  69.0  69.0  70.0  69.0  86.0  77.0  63.5
14    71.3  63.3  72.7  98.0  57.0  66.3  80.5  67.7  86.0

In [12]:
df14.pivot_table('分数',index='学生姓名',columns='课程编号',fill_value='缺考')

课程编号     1   2   3   4   5   6   7     8   9
学生姓名
裴冬雪   74.0  74  93  缺考  57  53  缺考  80.0  缺考
贰曼珠   68.0  68  68  98  缺考  60  87  49.0  86
赵婉清   72.0  48  57  缺考  缺考  86  74  74.0  缺考
赵雪凝   75.0  缺考  缺考  缺考  70  缺考  86  67.0  50
鲍浩阔   93.0  67  69  69  缺考  69  86  87.0  77

In [23]:
df_test=df14.pivot_table('分数',index='课程编号',columns='性别',aggfunc='sum',fill_value=0)
df_test

性别      女   男
课程编号
1     307  75
2     257   0
3     287   0
4     167   0
5      57  70
6     268   0
7     247  86
8     290  67
9     163  50

In [26]:
df_test[(df_test['女']>200)&(df_test['男']>60)]

性别      女   男
课程编号
1     307  75
7     247  86
8     290  67

In [27]:
df14.pivot_table('分数',index='课程编号',columns='性别',aggfunc='min',fill_value=0)

性别     女   男
课程编号
1     68  75
2     48   0
3     57   0
4     69   0
5     57  70
6     53   0
7     74  86
8     49  67
9     77  50

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
sh=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\data24.xlsx',sheet_name=0)
sh

,序号,污染指数,监测点,时间,指数级别,指数类别,指数颜色,首要污染物,健康影响状况
0,00f60ce3-db7c-414e-80e0-8b24611e747d,39,华侨城,2019-02-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染
1,00ffda7b-8094-464c-ae73-9659db468def,88,葵涌,2017-03-28,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
2,0100f95a-f6dd-44cf-a1b8-91e65cadf62d,50,盐田,2017-02-06,一级,优,绿色,-,空气质量令人满意，基本无空气污染
3,0111a697-b8d4-453d-bbe0-b280069e5d51,42,葵涌,2019-04-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染
4,0111eae0-d8df-4573-aed9-0be536ad69ed,79,观澜,2015-02-18,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
...,...,...,...,...,...,...,...,...,...
9995,394101db-8e07-4e7c-ba3c-eb5420387517,25,南澳,2015-04-10,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9996,3948d96f-0f58-4d1e-919f-4c92c150bc52,92,梅沙,2015-09-13,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
9997,394d29c2-2e68-4e69-81c5-e9838d82077e,37,洪湖,2016-07-28,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9998,394ffb9e-6242-4eec-be3a-f2833ea153c2,38,龙岗,2016-06-01,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9999,39591deb-bad2-495a-8408-ed4584fc7a06,44,南澳,2016-04-27,一级,优,绿色,-,空气质量令人满意，基本无空气污染

In [17]:
sh[sh['监测点'].str.contains('观澜')|sh['监测点'].str.contains('盐田')]

,序号,污染指数,监测点,时间,指数级别,指数类别,指数颜色,首要污染物,健康影响状况
2,0100f95a-f6dd-44cf-a1b8-91e65cadf62d,50,盐田,2017-02-06,一级,优,绿色,-,空气质量令人满意，基本无空气污染
4,0111eae0-d8df-4573-aed9-0be536ad69ed,79,观澜,2015-02-18,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
12,016a343f-937a-4a49-a58c-dacec5aa9ae0,48,盐田,2017-04-16,一级,优,绿色,-,空气质量令人满意，基本无空气污染
15,0170d1dd-2fd8-42b3-b6be-4ab3246ea0bf,63,盐田,2016-08-10,二级,良,黄色,二氧化氮,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
23,0189629d-1d63-4960-9e83-38bfea25847e,54,观澜,2015-03-15,二级,良,黄色,可吸入颗粒物,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
...,...,...,...,...,...,...,...,...,...
9979,390472a8-a941-472b-b5d1-8298990be6c9,37,盐田,2019-08-01,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9980,3906fdb1-58c5-4b10-9a76-7327e79530a1,33,观澜,2019-08-11,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9988,39246aca-04ab-4648-b61a-f5ac230d53a2,41,观澜,2015-05-15,一级,优,优,-,空气质量令人满意，基本无空气污染
9989,39315087-f923-4766-b100-8c96daba0a60,53,盐田,2017-01-10,二级,良,黄色,细颗粒物,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
9990,3934d907-7b51-43bf-bf63-49eedd62ca4f,50,观澜,2016-10-04,一级,优,绿色,-,空气质量令人满意，基本无空气污染

In [26]:
sh.insert(5,'指数等级',sh.[])
# sh=sh.drop('指数等级',axis=1)
sh

,序号,污染指数,监测点,时间,指数级别,指数类别,指数颜色,首要污染物,健康影响状况
0,00f60ce3-db7c-414e-80e0-8b24611e747d,39,华侨城,2019-02-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染
1,00ffda7b-8094-464c-ae73-9659db468def,88,葵涌,2017-03-28,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
2,0100f95a-f6dd-44cf-a1b8-91e65cadf62d,50,盐田,2017-02-06,一级,优,绿色,-,空气质量令人满意，基本无空气污染
3,0111a697-b8d4-453d-bbe0-b280069e5d51,42,葵涌,2019-04-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染
4,0111eae0-d8df-4573-aed9-0be536ad69ed,79,观澜,2015-02-18,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
...,...,...,...,...,...,...,...,...,...
9995,394101db-8e07-4e7c-ba3c-eb5420387517,25,南澳,2015-04-10,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9996,3948d96f-0f58-4d1e-919f-4c92c150bc52,92,梅沙,2015-09-13,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
9997,394d29c2-2e68-4e69-81c5-e9838d82077e,37,洪湖,2016-07-28,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9998,394ffb9e-6242-4eec-be3a-f2833ea153c2,38,龙岗,2016-06-01,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9999,39591deb-bad2-495a-8408-ed4584fc7a06,44,南澳,2016-04-27,一级,优,绿色,-,空气质量令人满意，基本无空气污染

In [7]:
sh[sh['指数颜色'].str[:4]=='空气质量']

,序号,污染指数,监测点,时间,指数级别,指数类别,指数颜色,首要污染物,健康影响状况
42,171938,38,梅沙,2020-05-02,一级,优,空气质量令人满意，基本无空气污染,无,绿色
43,169875,72,梅沙,2020-04-09,二级,良,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响,O3,黄色
44,169505,28,梅沙,2020-04-05,一级,优,空气质量令人满意，基本无空气污染,无,绿色
45,168689,35,梅沙,2020-03-27,一级,优,空气质量令人满意，基本无空气污染,无,绿色
46,169084,32,梅沙,2020-03-31,一级,优,空气质量令人满意，基本无空气污染,无,绿色
...,...,...,...,...,...,...,...,...,...
2895,173315,54,盐田,2020-05-18,二级,良,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响,NO2,黄色
2896,173226,39,盐田,2020-05-17,一级,优,空气质量令人满意，基本无空气污染,无,绿色
2898,172994,42,盐田,2020-05-14,一级,优,空气质量令人满意，基本无空气污染,无,绿色
2900,172297,34,盐田,2020-05-06,一级,优,空气质量令人满意，基本无空气污染,无,绿色
2901,170218,58,盐田,2020-04-12,二级,良,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响,O3,黄色

In [10]:
sh[sh['健康影响状况'].str.contains('令人满意')]

,序号,污染指数,监测点,时间,指数级别,指数类别,指数颜色,首要污染物,健康影响状况
0,00f60ce3-db7c-414e-80e0-8b24611e747d,39,华侨城,2019-02-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染
2,0100f95a-f6dd-44cf-a1b8-91e65cadf62d,50,盐田,2017-02-06,一级,优,绿色,-,空气质量令人满意，基本无空气污染
3,0111a697-b8d4-453d-bbe0-b280069e5d51,42,葵涌,2019-04-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染
5,0125ca90-c48d-4424-b5bf-d9b6a1842cde,37,西乡,2019-03-29,一级,优,绿色,-,空气质量令人满意，基本无空气污染
6,01382019-46fe-41ad-aa5b-fd676a8aba7d,29,南澳,2016-07-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染
...,...,...,...,...,...,...,...,...,...
9994,3940bdf3-c147-4125-b51d-23a8860d9fca,46,梅沙,2015-03-06,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9995,394101db-8e07-4e7c-ba3c-eb5420387517,25,南澳,2015-04-10,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9997,394d29c2-2e68-4e69-81c5-e9838d82077e,37,洪湖,2016-07-28,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9998,394ffb9e-6242-4eec-be3a-f2833ea153c2,38,龙岗,2016-06-01,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9999,39591deb-bad2-495a-8408-ed4584fc7a06,44,南澳,2016-04-27,一级,优,绿色,-,空气质量令人满意，基本无空气污染

In [18]:
sh[(sh['首要污染物'].str.len()==4)&sh['健康影响状况'].str.contains('令人满意')]

,序号,污染指数,监测点,时间,指数级别,指数类别,指数颜色,首要污染物,健康影响状况
5370,201709070934102f359c8144394003be4e9dd1b29a15ae,33,盐田,2017-09-06,一级,优,绿色,二氧化碳,空气质量令人满意，基本无空气污染
5387,201709081028174692514abe1c4cbaabf54d8c08ec125b,26,南澳,2017-09-07,一级,优,绿色,二氧化碳,空气质量令人满意，基本无空气污染

In [19]:
sh[sh['首要污染物'].str.islower()]

,序号,污染指数,监测点,时间,指数级别,指数类别,指数颜色,首要污染物,健康影响状况
2947,20180108101149519359242a88451b971f151d79b08ce3,51,荔园,2018-01-05,二级,良,黄色,pm10,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
2952,20180108102002258fe120d8c04766800c5a1aa58615d7,57,龙岗,2018-01-05,二级,良,黄色,pm10,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
2954,2018010810215177eb101bb0e34a0192d266c7f7b6c7c2,51,梅沙,2018-01-05,二级,良,黄色,pm10,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
2955,20180108102206ff5acab78a244576a84303ab066e3dda,51,葵涌,2018-01-05,二级,良,黄色,pm10,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
2956,2018010810253362a73d7c915a40508302c390da76acd2,70,观澜,2018-01-05,二级,良,黄色,pm2.5,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
...,...,...,...,...,...,...,...,...,...
9862,20181210130023d1574eac7be744859efdc4ae9a1fd69c,52,南海,2018-12-07,二级,良,黄色,pm10,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
9865,20181210130110c694ee15551c4f86a853cb96f7a960ba,65,西乡,2018-12-07,二级,良,黄色,pm10,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
9867,20181210130144a23c1081003942e6a6d459be52efd30b,90,葵涌,2018-12-07,二级,良,黄色,pm2.5,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
9868,201812101301598e9352d5a8904d9fad6e0da02aab6d99,61,观澜,2018-12-07,二级,良,黄色,pm10,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
9884,201812101306553c8ce791384c4a11972c0c9985762d87,58,盐田,2018-12-09,二级,良,黄色,pm10,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响

In [20]:
sh[sh['健康影响状况'].str[:4]=='空气质量']

,序号,污染指数,监测点,时间,指数级别,指数类别,指数颜色,首要污染物,健康影响状况
0,00f60ce3-db7c-414e-80e0-8b24611e747d,39,华侨城,2019-02-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染
1,00ffda7b-8094-464c-ae73-9659db468def,88,葵涌,2017-03-28,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
2,0100f95a-f6dd-44cf-a1b8-91e65cadf62d,50,盐田,2017-02-06,一级,优,绿色,-,空气质量令人满意，基本无空气污染
3,0111a697-b8d4-453d-bbe0-b280069e5d51,42,葵涌,2019-04-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染
4,0111eae0-d8df-4573-aed9-0be536ad69ed,79,观澜,2015-02-18,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
...,...,...,...,...,...,...,...,...,...
9995,394101db-8e07-4e7c-ba3c-eb5420387517,25,南澳,2015-04-10,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9996,3948d96f-0f58-4d1e-919f-4c92c150bc52,92,梅沙,2015-09-13,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
9997,394d29c2-2e68-4e69-81c5-e9838d82077e,37,洪湖,2016-07-28,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9998,394ffb9e-6242-4eec-be3a-f2833ea153c2,38,龙岗,2016-06-01,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9999,39591deb-bad2-495a-8408-ed4584fc7a06,44,南澳,2016-04-27,一级,优,绿色,-,空气质量令人满意，基本无空气污染

In [62]:
np状况=np.array(sh['健康影响状况'].where(sh['健康影响状况'].str.contains('令人满意'),'不满意'))

In [64]:
np状况

array(['空气质量令人满意，基本无空气污染', '不满意', '空气质量令人满意，基本无空气污染', ...,
       '空气质量令人满意，基本无空气污染', '空气质量令人满意，基本无空气污染', '空气质量令人满意，基本无空气污染'],
      dtype=object)

In [67]:
L=[]
for i in sh['健康影响状况'].str.contains('令人满意'):
    if i :
        L.append('令人满意')
    else:
        L.append('可以接受')
L

['令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 '令人满意',
 '令人满意',
 '令人满意',
 '可以接受',
 '可以接受',
 '可以接受',
 '令人满意',
 '可以接受',
 '可以接受',
 ...]

In [69]:
sh['状况']=L
sh

,序号,污染指数,监测点,时间,指数级别,指数类别,指数颜色,首要污染物,健康影响状况,状况
0,00f60ce3-db7c-414e-80e0-8b24611e747d,39,华侨城,2019-02-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染,令人满意
1,00ffda7b-8094-464c-ae73-9659db468def,88,葵涌,2017-03-28,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响,可以接受
2,0100f95a-f6dd-44cf-a1b8-91e65cadf62d,50,盐田,2017-02-06,一级,优,绿色,-,空气质量令人满意，基本无空气污染,令人满意
3,0111a697-b8d4-453d-bbe0-b280069e5d51,42,葵涌,2019-04-14,一级,优,绿色,-,空气质量令人满意，基本无空气污染,令人满意
4,0111eae0-d8df-4573-aed9-0be536ad69ed,79,观澜,2015-02-18,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响,可以接受
...,...,...,...,...,...,...,...,...,...,...
9995,394101db-8e07-4e7c-ba3c-eb5420387517,25,南澳,2015-04-10,一级,优,绿色,-,空气质量令人满意，基本无空气污染,令人满意
9996,3948d96f-0f58-4d1e-919f-4c92c150bc52,92,梅沙,2015-09-13,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响,可以接受
9997,394d29c2-2e68-4e69-81c5-e9838d82077e,37,洪湖,2016-07-28,一级,优,绿色,-,空气质量令人满意，基本无空气污染,令人满意
9998,394ffb9e-6242-4eec-be3a-f2833ea153c2,38,龙岗,2016-06-01,一级,优,绿色,-,空气质量令人满意，基本无空气污染,令人满意
9999,39591deb-bad2-495a-8408-ed4584fc7a06,44,南澳,2016-04-27,一级,优,绿色,-,空气质量令人满意，基本无空气污染,令人满意

In [72]:
sh['健康影响状况'].str.replace(r'^空气质量(\w*)，\w*', r'\1', regex=True)

0       令人满意
1        可接受
2       令人满意
3       令人满意
4        可接受
        ...
9995    令人满意
9996     可接受
9997    令人满意
9998    令人满意
9999    令人满意
Name: 健康影响状况, Length: 10000, dtype: object