In [1]:
import numpy as np
import pandas as pd

### %time、%timeit、%%time、%%timeit的比较
%time： 在行模式下，代码运行一次所花费的时间。
%%time：在单元模式下，代码运行一次所花费的时间。

%timeit： 在行模式下，执行代码块若干次，取最佳结果。
%%timeit： 在单元模式下，执行代码块若干次，取最佳结果。

### %who命令：输出截止目前的所有变量名称

In [11]:
li = [1, 3, 5, 7, 9, 11, 13, 17]
nd=np.array(li)
nd

array([ 1,  3,  5,  7,  9, 11, 13, 17])

In [13]:
li = ['1', '3', '5', 7, 11, 13]
nd=np.array(li,dtype='int')
nd.dtype

dtype('int32')

In [15]:
li=[i for i in np.random(1,100,100)]
li

TypeError: 'module' object is not callable

In [26]:
import random
l1=[]
l2=[]
for i1 in range(4):
    for i2 in range(4):
        l2.append(random.randint(1,100))
    l1.append(l2)
    l2=[]
l1

[[46, 43, 65, 46], [2, 38, 48, 59], [29, 62, 32, 40], [53, 78, 86, 4]]

In [28]:
li=np.array(l1)
li

array([[46, 43, 65, 46],
       [ 2, 38, 48, 59],
       [29, 62, 32, 40],
       [53, 78, 86,  4]])

In [29]:
li = [[random.randint(1, 100) for _ in range(4)] for _ in range(4)]
li

[[4, 69, 64, 92], [69, 1, 41, 4], [43, 77, 39, 93], [22, 45, 88, 87]]

In [31]:
li2=np.random.randint(1,100,(4,4))
li2

array([[10, 98, 11, 52],
       [85,  1, 84, 24],
       [26, 89, 33, 51],
       [81, 91, 95, 92]])

In [33]:
li=np.random.randint(-100,50,100)
li

array([  1, -16,  43, -77,  46, -70, -22, -50, -99,  -4, -40, -67, -84,
       -22, -80, -82, -95, -39, -97, -46, -98, -31, -32,  26, -39, -89,
        -4, -67, -16, -10,  25, -95, -88, -87,  27, -57,  38, -51, -20,
        -5,  23, -89, -77, -74, -27,  13,  31,   4,   2,  39, -75,  12,
        21,   7, -83, -15, -30, -43, -16, -70, -29,  15, -50,  26, -53,
       -57, -68, -54, -25,  27,  31, -22, -97,  15, -40, -54,  -8, -99,
        38, -29,  48, -60, -76, -57, -72,  28, -60, -13,  32, -34,   6,
       -74, -72, -70,  -9,  19,  33,   9, -25, -25])

In [35]:
a=np.arange(-50,100,2)
a

array([-50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26,
       -24, -22, -20, -18, -16, -14, -12, -10,  -8,  -6,  -4,  -2,   0,
         2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98])

In [36]:
a=np.arange(-10,10,0.5)
a

array([-10. ,  -9.5,  -9. ,  -8.5,  -8. ,  -7.5,  -7. ,  -6.5,  -6. ,
        -5.5,  -5. ,  -4.5,  -4. ,  -3.5,  -3. ,  -2.5,  -2. ,  -1.5,
        -1. ,  -0.5,   0. ,   0.5,   1. ,   1.5,   2. ,   2.5,   3. ,
         3.5,   4. ,   4.5,   5. ,   5.5,   6. ,   6.5,   7. ,   7.5,
         8. ,   8.5,   9. ,   9.5])

In [37]:
a=np.random.choice([1, 'a', 2, 3, 'c', 4, 'X'],(4,4))
a

array([['3', 'X', '3', 'X'],
       ['X', 'c', '3', 'X'],
       ['3', '4', '2', 'c'],
       ['3', 'a', '1', '4']], dtype='<U11')

In [42]:
a=np.random.randint(0,1,10)
li=np.array(a,dtype='int')
li.dtype

dtype('int32')

In [44]:
a=np.random.randint(0,1,(4,4))
li=np.array(a,dtype='int')
li

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [46]:
a=np.random.randint(1,2,(5,2))
a

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]])

In [52]:
a=np.eye(5,dtype='int')
a

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [53]:
a=np.zeros((4,4),dtype='int')
a

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [55]:
a=np.arange(2,20,2)
a

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [57]:
b=a+1
b

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19])

In [58]:
a=np.random.randint(0,60,100)
a

array([30, 23, 49, 17, 54, 54, 26, 38, 39, 45, 55, 56, 21, 57, 55,  1, 14,
       31, 31, 42, 57, 37,  2, 26, 20, 26, 26,  8, 26, 13, 44, 46, 53, 49,
       54, 53, 52, 22, 32, 57,  2, 26,  7, 59, 16, 31, 10, 34, 21, 20, 34,
       38, 53, 16, 51, 30, 22, 39, 35, 52, 12, 14, 22, 15, 25,  7, 29, 49,
        2,  5, 22, 14, 45, 27, 23,  5, 36, 37, 28, 22,  3, 44,  8, 39, 16,
       19, 44, 12, 14, 11, 27, 11, 16, 35, 14, 17, 55, 19,  1, 29])

In [63]:
np.round(np.sqrt(a)*10,2)

array([54.77, 47.96, 70.  , 41.23, 73.48, 73.48, 50.99, 61.64, 62.45,
       67.08, 74.16, 74.83, 45.83, 75.5 , 74.16, 10.  , 37.42, 55.68,
       55.68, 64.81, 75.5 , 60.83, 14.14, 50.99, 44.72, 50.99, 50.99,
       28.28, 50.99, 36.06, 66.33, 67.82, 72.8 , 70.  , 73.48, 72.8 ,
       72.11, 46.9 , 56.57, 75.5 , 14.14, 50.99, 26.46, 76.81, 40.  ,
       55.68, 31.62, 58.31, 45.83, 44.72, 58.31, 61.64, 72.8 , 40.  ,
       71.41, 54.77, 46.9 , 62.45, 59.16, 72.11, 34.64, 37.42, 46.9 ,
       38.73, 50.  , 26.46, 53.85, 70.  , 14.14, 22.36, 46.9 , 37.42,
       67.08, 51.96, 47.96, 22.36, 60.  , 60.83, 52.92, 46.9 , 17.32,
       66.33, 28.28, 62.45, 40.  , 43.59, 66.33, 34.64, 37.42, 33.17,
       51.96, 33.17, 40.  , 59.16, 37.42, 41.23, 74.16, 43.59, 10.  ,
       53.85])

In [67]:
a=np.array([1026,1098982,13842328])
b=np.array([1366,1264700,14987235])
rate=np.round((b-a)/a,2)
rate

array([0.33, 0.15, 0.08])

In [68]:
a=np.array([[30,50,70,20,40],[10,50,30,30,20],[30,0,50,40,10],[50,10,30,0,30]])
b=np.array([[10,500],[22,400],[33,300],[44,200],[55,100]])
a.dot(b)

array([[ 6790, 64000],
       [ 4610, 42000],
       [ 4260, 39000],
       [ 3360, 41000]])

In [3]:
nd=np.random.randint(1,100,100)
nd

array([49, 75, 55, 59, 79,  4, 34, 40, 70, 55, 69, 52, 93, 58, 73, 94, 50,
       89, 84, 45, 39, 28, 29, 18, 88, 21, 59, 14, 42, 75,  4, 28,  3, 32,
       35, 13, 12, 35, 96, 31, 32, 34, 87, 57, 14, 30, 54, 89,  8, 69, 18,
       93, 15, 93, 15, 65, 50, 73, 43, 39, 89, 39, 16, 48, 24,  6, 91, 10,
        5, 81,  7, 88, 98, 54, 62, 74, 12, 83, 63,  8, 74, 21,  8, 13, 48,
       77, 16, 29, 39, 33,  2,  8, 63, 90, 44, 66, 72, 68, 97, 91])

In [8]:
nd.max()

98

In [5]:
np.min(nd)

2

In [6]:
np.sum(nd)

4824

In [7]:
np.mean(nd)

48.24

In [9]:
nd2=np.random.randint(1,100,(25,4))
nd2

array([[28, 99, 85, 81],
       [69, 23, 73, 72],
       [80, 73, 17, 86],
       [15, 60, 52,  9],
       [35, 48, 49, 18],
       [59,  5, 47, 68],
       [26, 56, 59, 66],
       [56, 31, 64,  5],
       [20, 93, 92, 54],
       [22, 45, 22, 10],
       [95, 82,  2, 74],
       [39, 85, 38, 14],
       [91, 86, 93, 20],
       [27, 22, 65, 31],
       [90, 32, 56, 50],
       [55, 69, 17, 62],
       [15,  3, 36, 20],
       [38, 59, 54,  1],
       [40, 18, 15, 75],
       [54, 25, 60, 80],
       [94, 23, 34, 11],
       [22, 78, 45, 69],
       [ 4, 65, 85, 57],
       [34, 85, 56, 74],
       [96, 54, 86, 20]])

In [11]:
print(nd2.max(),nd2.min(),nd2.sum(),nd2.mean())

99 1 4952 49.52

In [19]:
x=np.array([8,7,9,7])
x2=np.array([1,2,3,4])
sum(x*x2)/(sum(x2))

7.7

In [16]:
arr = np.array([8, 7, 9, 7])
np.average(arr, weights=[1, 2, 3, 4])

7.7

In [3]:
nd1=np.loadtxt('C:/Users/YcAllenEffy/Desktop/1.txt',delimiter=',')
nd1

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.],
       [ 498704., 2738273.,  351527., 4916122., 1279807.],
       [ 553071., 3100157.,  380216., 5357270., 1287651.],
       [ 576980., 3273780.,  440282., 5824880., 1360515.],
       [ 614773., 3428075.,  469439., 6430203., 1545284.],
       [ 703770., 3712128.,  488497., 7189684., 2152141.],
       [ 862742., 3778315.,  510097., 7390338., 2114842.],
       [ 548554., 3784740.,  598940., 7412516., 2177509.]])

In [14]:
nd1.sum(axis=1)

array([ 4899249.,  5708354.,  6360851.,  7472379.,  8659405.,  9784433.,
       10678365., 11476437., 12487774., 14246220., 14656334., 14522259.])

In [15]:
nd1.mean(axis=1)

array([ 979849.8, 1141670.8, 1272170.2, 1494475.8, 1731881. , 1956886.6,
       2135673. , 2295287.4, 2497554.8, 2849244. , 2931266.8, 2904451.8])

In [16]:
nd1.max(axis=1)

array([2201548., 3005210., 3334017., 3902288., 4552216., 4916122.,
       5357270., 5824880., 6430203., 7189684., 7390338., 7412516.])

In [17]:
nd1.min(axis=0)

array([ 356222., 1297371.,  244691., 2201548.,  754386.])

In [18]:
nd1.max(axis=0)

array([ 862742., 3784740.,  598940., 7412516., 2177509.])

In [19]:
nd1.sum(axis=0)

array([ 6345185., 31904584.,  4591307., 61516292., 16594692.])

In [21]:
np.round(nd1.mean(axis=0),2)

array([ 528765.42, 2658715.33,  382608.92, 5126357.67, 1382891.  ])

In [23]:
nd1=np.array([1,2,3,4])
nd1

array([1, 2, 3, 4])

In [24]:
nd2=np.array( [[1, 2, 3, 4],[5, 6, 7, 8]])
nd2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [25]:
nd1+nd2

array([[ 2,  4,  6,  8],
       [ 6,  8, 10, 12]])

In [27]:
nd3=np.array(  [[[1, 2, 3, 4, 5],

      [6, 7, 8, 9, 0]],

     [[1, 2, 3, 4, 5],

      [6, 7, 8, 9, 0]]])
nd3

array([[[1, 2, 3, 4, 5],
        [6, 7, 8, 9, 0]],

       [[1, 2, 3, 4, 5],
        [6, 7, 8, 9, 0]]])

In [28]:
nd4=np.random.randint(1,5,(2,5))
nd4

array([[4, 3, 1, 2, 3],
       [2, 3, 3, 1, 2]])

In [29]:
nd3-nd4

array([[[-3, -1,  2,  2,  2],
        [ 4,  4,  5,  8, -2]],

       [[-3, -1,  2,  2,  2],
        [ 4,  4,  5,  8, -2]]])

In [30]:
nd1=np.array([[0, 0, 0],[1, 1, 1],[2, 2, 2], [3, 3, 3]])
nd2=np.array([[1],[2],[3],[4]])
nd1+nd2

array([[1, 1, 1],
       [3, 3, 3],
       [5, 5, 5],
       [7, 7, 7]])

In [32]:
nd3=np.array([1,2,3])
nd1+nd3

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]])

In [34]:
nd1=np.array(  [[[1, 2, 3, 4],

      [6, 7, 8, 9]],

     [[1, 2, 3, 4],

      [6, 7, 8, 9]]])
nd2=np.array([[1]])
nd1+nd2

array([[[ 2,  3,  4,  5],
        [ 7,  8,  9, 10]],

       [[ 2,  3,  4,  5],
        [ 7,  8,  9, 10]]])

In [35]:
nd1=np.loadtxt('C:/Users/YcAllenEffy/Desktop/1.txt',delimiter=',')
nd1

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.],
       [ 498704., 2738273.,  351527., 4916122., 1279807.],
       [ 553071., 3100157.,  380216., 5357270., 1287651.],
       [ 576980., 3273780.,  440282., 5824880., 1360515.],
       [ 614773., 3428075.,  469439., 6430203., 1545284.],
       [ 703770., 3712128.,  488497., 7189684., 2152141.],
       [ 862742., 3778315.,  510097., 7390338., 2114842.],
       [ 548554., 3784740.,  598940., 7412516., 2177509.]])

In [37]:
nd111=nd1.sum(axis=0)
nd111

array([ 6345185., 31904584.,  4591307., 61516292., 16594692.])

In [38]:
rate=np.round(nd1/nd111,2)
rate

array([[0.06, 0.04, 0.05, 0.04, 0.05],
       [0.06, 0.04, 0.05, 0.05, 0.05],
       [0.06, 0.05, 0.05, 0.05, 0.06],
       [0.07, 0.06, 0.06, 0.06, 0.06],
       [0.07, 0.07, 0.07, 0.07, 0.06],
       [0.08, 0.09, 0.08, 0.08, 0.08],
       [0.09, 0.1 , 0.08, 0.09, 0.08],
       [0.09, 0.1 , 0.1 , 0.09, 0.08],
       [0.1 , 0.11, 0.1 , 0.1 , 0.09],
       [0.11, 0.12, 0.11, 0.12, 0.13],
       [0.14, 0.12, 0.11, 0.12, 0.13],
       [0.09, 0.12, 0.13, 0.12, 0.13]])

In [39]:
nd1=np.array(  [[[1, 2, 3, 4],

      [6, 7, 8, 9]],

     [[1, 2, 3, 4],

      [6, 7, 8, 9]]])

array([[[1, 2, 3, 4],
        [6, 7, 8, 9]],

       [[1, 2, 3, 4],
        [6, 7, 8, 9]]])

In [41]:
nd2=np.array([[1],[10]])
nd1+nd2

array([[[ 2,  3,  4,  5],
        [16, 17, 18, 19]],

       [[ 2,  3,  4,  5],
        [16, 17, 18, 19]]])

In [5]:
nd=np.array([1, 2, 3, 4]
)
nd.shape

(4,)

In [7]:
nd=np.array(    [[[[1, 2, 3, 4],
    [5, 6, 7, 8]],
    [[1, 2, 3, 4],
    [5, 6, 7, 8]]],
    [[[1, 2, 3, 4],
    [5, 6, 7, 8]],
    [[1, 2, 3, 4],
    [5, 6, 7, 8]]]])
nd.shape

(2, 2, 2, 4)

In [8]:
nd=np.resize([1, 2, 3, 4] ,(2,2))
nd

array([[1, 2],
       [3, 4]])

In [9]:
nd=np.resize(    [[1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 0, 1, 2]],(12))
nd

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2])

In [10]:
nd=np.resize(    [[[[1, 2, 3, 4],
    [5, 6, 7, 8]],
    [[1, 2, 3, 4],
    [5, 6, 7, 8]]],
    [[[1, 2, 3, 4],
    [5, 6, 7, 8]],
    [[1, 2, 3, 4],
    [5, 6, 7, 8]]]],(4,8))
nd

array([[1, 2, 3, 4, 5, 6, 7, 8],
       [1, 2, 3, 4, 5, 6, 7, 8],
       [1, 2, 3, 4, 5, 6, 7, 8],
       [1, 2, 3, 4, 5, 6, 7, 8]])

In [12]:
nd=np.resize([1, 2, 3, 4],(2,3))
nd

array([[1, 2, 3],
       [4, 1, 2]])

In [16]:
nd=np.array([1, 2, 3, 4])

nd

array([1, 2, 3, 4])

In [24]:
nd3=np.array([1, 2, 3, 4])
nd3.resize(2,3)

In [25]:
nd3

array([[1, 2, 3],
       [4, 0, 0]])

In [ ]:
oo[2,:]

In [26]:
nd1=np.loadtxt('C:/Users/YcAllenEffy/Desktop/1.txt',delimiter=',')
nd1

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.],
       [ 498704., 2738273.,  351527., 4916122., 1279807.],
       [ 553071., 3100157.,  380216., 5357270., 1287651.],
       [ 576980., 3273780.,  440282., 5824880., 1360515.],
       [ 614773., 3428075.,  469439., 6430203., 1545284.],
       [ 703770., 3712128.,  488497., 7189684., 2152141.],
       [ 862742., 3778315.,  510097., 7390338., 2114842.],
       [ 548554., 3784740.,  598940., 7412516., 2177509.]])

In [27]:
nd1[2,:]

array([ 356222., 1449460.,  244691., 3334017.,  976461.])

In [28]:
nd1[:,3]

array([2201548., 3005210., 3334017., 3902288., 4552216., 4916122.,
       5357270., 5824880., 6430203., 7189684., 7390338., 7412516.])

In [29]:
nd1[0:5,:]

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.]])

In [31]:
nd1[:,0:3]

array([[ 360307., 1297371.,  248828.],
       [ 368636., 1331268.,  248854.],
       [ 356222., 1449460.,  244691.],
       [ 429900., 1779493.,  282674.],
       [ 471526., 2231524.,  327262.],
       [ 498704., 2738273.,  351527.],
       [ 553071., 3100157.,  380216.],
       [ 576980., 3273780.,  440282.],
       [ 614773., 3428075.,  469439.],
       [ 703770., 3712128.,  488497.],
       [ 862742., 3778315.,  510097.],
       [ 548554., 3784740.,  598940.]])

In [32]:
nd1[-3,-1]

2152141.0

In [34]:
nd1[3:7,2:4]

array([[ 282674., 3902288.],
       [ 327262., 4552216.],
       [ 351527., 4916122.],
       [ 380216., 5357270.]])

In [35]:
nd1[10:0:-1, 3:1:-1]

array([[7390338.,  510097.],
       [7189684.,  488497.],
       [6430203.,  469439.],
       [5824880.,  440282.],
       [5357270.,  380216.],
       [4916122.,  351527.],
       [4552216.,  327262.],
       [3902288.,  282674.],
       [3334017.,  244691.],
       [3005210.,  248854.]])

In [36]:
import numpy as np
nd1=np.random.randint(0,50,(3,4))
nd1

array([[40, 16, 49, 41],
       [44, 17, 11, 41],
       [44, 30, 29, 20]])

In [37]:
nd2=np.resize(nd1,12)
nd2

array([40, 16, 49, 41, 44, 17, 11, 41, 44, 30, 29, 20])

In [41]:
np.sum(nd2<25)

4

In [42]:
np.count_nonzero(nd2<25)

4

In [57]:
nd1=np.loadtxt('C:/Users/YcAllenEffy/Desktop/1.txt',delimiter=',')
nd1

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.],
       [ 498704., 2738273.,  351527., 4916122., 1279807.],
       [ 553071., 3100157.,  380216., 5357270., 1287651.],
       [ 576980., 3273780.,  440282., 5824880., 1360515.],
       [ 614773., 3428075.,  469439., 6430203., 1545284.],
       [ 703770., 3712128.,  488497., 7189684., 2152141.],
       [ 862742., 3778315.,  510097., 7390338., 2114842.],
       [ 548554., 3784740.,  598940., 7412516., 2177509.]])

In [44]:
nd1<1000000

array([[ True, False,  True, False,  True],
       [ True, False,  True, False,  True],
       [ True, False,  True, False,  True],
       [ True, False,  True, False, False],
       [ True, False,  True, False, False],
       [ True, False,  True, False, False],
       [ True, False,  True, False, False],
       [ True, False,  True, False, False],
       [ True, False,  True, False, False],
       [ True, False,  True, False, False],
       [ True, False,  True, False, False],
       [ True, False,  True, False, False]])

In [46]:
nd1[nd1<1000000]

array([360307., 248828., 791195., 368636., 248854., 754386., 356222.,
       244691., 976461., 429900., 282674., 471526., 327262., 498704.,
       351527., 553071., 380216., 576980., 440282., 614773., 469439.,
       703770., 488497., 862742., 510097., 548554., 598940.])

In [47]:
nd1[(nd1>1000000)&(nd1<2000000)]

array([1297371., 1331268., 1449460., 1779493., 1078024., 1076877.,
       1279807., 1287651., 1360515., 1545284.])

In [50]:
nd1[3,:][nd1[3,:]>1000000]

array([1779493., 3902288., 1078024.])

In [51]:
nd1[:,1][(nd1[:,1]>2000000)&(nd1[:,1]<3000000)]

array([2231524., 2738273.])

In [58]:
nd2 = nd1[2:9, -1]
nd2

array([ 976461., 1078024., 1076877., 1279807., 1287651., 1360515.,
       1545284.])

In [6]:
arr=np.random.randint(0,11,10)
arr

array([9, 5, 1, 9, 3, 0, 0, 1, 8, 8])

In [8]:
a=np.where(arr>5,'合格','不合格')
a

array(['合格', '不合格', '不合格', '合格', '不合格', '不合格', '不合格', '不合格', '合格', '合格'],
      dtype='<U3')

In [15]:
np.sum(arr>5)

4

In [16]:
arr=np.array(    [[44, 78, 81, 48, 39, 47, 38, 69, 60, 65],

       [34, 62, 38, 84, 82, 49, 53, 37, 84, 58],

       [46, 48, 72, 53, 44, 59, 37, 62, 71, 62]])
arr

array([[44, 78, 81, 48, 39, 47, 38, 69, 60, 65],
       [34, 62, 38, 84, 82, 49, 53, 37, 84, 58],
       [46, 48, 72, 53, 44, 59, 37, 62, 71, 62]])

In [21]:
np.where(arr<60,np.round(np.sqrt(arr)*10,2),arr)

array([[66.33, 78.  , 81.  , 69.28, 62.45, 68.56, 61.64, 69.  , 60.  ,
        65.  ],
       [58.31, 62.  , 61.64, 84.  , 82.  , 70.  , 72.8 , 60.83, 84.  ,
        76.16],
       [67.82, 69.28, 72.  , 72.8 , 66.33, 76.81, 60.83, 62.  , 71.  ,
        62.  ]])

In [53]:
arr=np.loadtxt('C:/Users/YcAllenEffy/Desktop/1.txt',delimiter=',')
arr

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.],
       [ 498704., 2738273.,  351527., 4916122., 1279807.],
       [ 553071., 3100157.,  380216., 5357270., 1287651.],
       [ 576980., 3273780.,  440282., 5824880., 1360515.],
       [ 614773., 3428075.,  469439., 6430203., 1545284.],
       [ 703770., 3712128.,  488497., 7189684., 2152141.],
       [ 862742., 3778315.,  510097., 7390338., 2114842.],
       [ 548554., 3784740.,  598940., 7412516., 2177509.]])

In [23]:
np.where(arr<500000,'低增长',arr)

array([['低增长', '1297371.0', '低增长', '2201548.0', '791195.0'],
       ['低增长', '1331268.0', '低增长', '3005210.0', '754386.0'],
       ['低增长', '1449460.0', '低增长', '3334017.0', '976461.0'],
       ['低增长', '1779493.0', '低增长', '3902288.0', '1078024.0'],
       ['低增长', '2231524.0', '低增长', '4552216.0', '1076877.0'],
       ['低增长', '2738273.0', '低增长', '4916122.0', '1279807.0'],
       ['553071.0', '3100157.0', '低增长', '5357270.0', '1287651.0'],
       ['576980.0', '3273780.0', '低增长', '5824880.0', '1360515.0'],
       ['614773.0', '3428075.0', '低增长', '6430203.0', '1545284.0'],
       ['703770.0', '3712128.0', '低增长', '7189684.0', '2152141.0'],
       ['862742.0', '3778315.0', '510097.0', '7390338.0', '2114842.0'],
       ['548554.0', '3784740.0', '598940.0', '7412516.0', '2177509.0']],
      dtype='<U32')

In [40]:
np.where(arr>=3000000,'高增长',arr)

array([['1.082412855071e-311', '1297371.0', '248828.0', '2201548.0',
        '791195.0'],
       ['1.0823622361564e-311', '1331268.0', '248854.0', '高增长',
        '754386.0'],
       ['1.082412855103e-311', '1449460.0', '244691.0', '高增长',
        '976461.0'],
       ['1.0823622361564e-311', '1779493.0', '282674.0', '高增长',
        '1078024.0'],
       ['1.0824128551344e-311', '2231524.0', '327262.0', '高增长',
        '1076877.0'],
       ['1.0823622361564e-311', '2738273.0', '351527.0', '高增长',
        '1279807.0'],
       ['1.0824127731827e-311', '高增长', '380216.0', '高增长', '1287651.0'],
       ['1.0823622361564e-311', '高增长', '440282.0', '高增长', '1360515.0'],
       ['1.082412855166e-311', '高增长', '469439.0', '高增长', '1545284.0'],
       ['1.0823622361564e-311', '高增长', '488497.0', '高增长', '2152141.0'],
       ['1.0824128551976e-311', '高增长', '510097.0', '高增长', '2114842.0'],
       ['1.0823622361564e-311', '高增长', '598940.0', '高增长', '2177509.0']],
      dtype='<U32')

In [26]:
s=np.where((arr>=1000000)&(arr<=2000000))

In [27]:

xy=list(zip(s[0],s[1]))
xy

[(0, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (3, 4),
 (4, 4),
 (5, 4),
 (6, 4),
 (7, 4),
 (8, 4)]

In [54]:
arr

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.],
       [ 498704., 2738273.,  351527., 4916122., 1279807.],
       [ 553071., 3100157.,  380216., 5357270., 1287651.],
       [ 576980., 3273780.,  440282., 5824880., 1360515.],
       [ 614773., 3428075.,  469439., 6430203., 1545284.],
       [ 703770., 3712128.,  488497., 7189684., 2152141.],
       [ 862742., 3778315.,  510097., 7390338., 2114842.],
       [ 548554., 3784740.,  598940., 7412516., 2177509.]])

In [58]:
np.where(arr[::,0]>=800000,'高增长','增长<80万')

array(['增长<80万', '增长<80万', '增长<80万', '增长<80万', '增长<80万', '增长<80万',
       '增长<80万', '增长<80万', '增长<80万', '增长<80万', '增长<80万', '增长<80万'],
      dtype='<U6')

In [71]:
arr=np.loadtxt('C:/Users/YcAllenEffy/Desktop/1.txt',delimiter=',')
arr

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.],
       [ 498704., 2738273.,  351527., 4916122., 1279807.],
       [ 553071., 3100157.,  380216., 5357270., 1287651.],
       [ 576980., 3273780.,  440282., 5824880., 1360515.],
       [ 614773., 3428075.,  469439., 6430203., 1545284.],
       [ 703770., 3712128.,  488497., 7189684., 2152141.],
       [ 862742., 3778315.,  510097., 7390338., 2114842.],
       [ 548554., 3784740.,  598940., 7412516., 2177509.]])

In [75]:
np.where(arr>=800000,[[1],[2],[3],[4],[5],[6],[7],[8],[9],[0],[11],[12]],'增长<80万')

array([['增长<80万', '1', '增长<80万', '1', '增长<80万'],
       ['增长<80万', '2', '增长<80万', '2', '增长<80万'],
       ['增长<80万', '3', '增长<80万', '3', '3'],
       ['增长<80万', '4', '增长<80万', '4', '4'],
       ['增长<80万', '5', '增长<80万', '5', '5'],
       ['增长<80万', '6', '增长<80万', '6', '6'],
       ['增长<80万', '7', '增长<80万', '7', '7'],
       ['增长<80万', '8', '增长<80万', '8', '8'],
       ['增长<80万', '9', '增长<80万', '9', '9'],
       ['增长<80万', '0', '增长<80万', '0', '0'],
       ['11', '11', '增长<80万', '11', '11'],
       ['增长<80万', '12', '增长<80万', '12', '12']], dtype='<U11')

In [80]:
a=[str(i+7)+'年高增长' for i in range(12)]
a=np.array(a)
a.resize(12,1)
a

array([['7年高增长'],
       ['8年高增长'],
       ['9年高增长'],
       ['10年高增长'],
       ['11年高增长'],
       ['12年高增长'],
       ['13年高增长'],
       ['14年高增长'],
       ['15年高增长'],
       ['16年高增长'],
       ['17年高增长'],
       ['18年高增长']], dtype='<U6')

In [81]:
arr

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.],
       [ 498704., 2738273.,  351527., 4916122., 1279807.],
       [ 553071., 3100157.,  380216., 5357270., 1287651.],
       [ 576980., 3273780.,  440282., 5824880., 1360515.],
       [ 614773., 3428075.,  469439., 6430203., 1545284.],
       [ 703770., 3712128.,  488497., 7189684., 2152141.],
       [ 862742., 3778315.,  510097., 7390338., 2114842.],
       [ 548554., 3784740.,  598940., 7412516., 2177509.]])

In [82]:
np.where(arr>=2000000,a,'持续低增长')

array([['持续低增长', '持续低增长', '持续低增长', '7年高增长', '持续低增长'],
       ['持续低增长', '持续低增长', '持续低增长', '8年高增长', '持续低增长'],
       ['持续低增长', '持续低增长', '持续低增长', '9年高增长', '持续低增长'],
       ['持续低增长', '持续低增长', '持续低增长', '10年高增长', '持续低增长'],
       ['持续低增长', '11年高增长', '持续低增长', '11年高增长', '持续低增长'],
       ['持续低增长', '12年高增长', '持续低增长', '12年高增长', '持续低增长'],
       ['持续低增长', '13年高增长', '持续低增长', '13年高增长', '持续低增长'],
       ['持续低增长', '14年高增长', '持续低增长', '14年高增长', '持续低增长'],
       ['持续低增长', '15年高增长', '持续低增长', '15年高增长', '持续低增长'],
       ['持续低增长', '16年高增长', '持续低增长', '16年高增长', '16年高增长'],
       ['持续低增长', '17年高增长', '持续低增长', '17年高增长', '17年高增长'],
       ['持续低增长', '18年高增长', '持续低增长', '18年高增长', '18年高增长']], dtype='<U6')

In [83]:
arr=np.random.randint(100,200,(4,6))
arr

array([[169, 150, 153, 134, 122, 145],
       [184, 190, 158, 124, 155, 131],
       [144, 108, 108, 122, 199, 190],
       [197, 150, 198, 167, 193, 112]])

In [85]:
arr[[1,0,3],[2,4,5]]

array([158, 122, 112])

In [87]:
arr=np.random.randint(45,100,(5,8))
arr

array([[92, 74, 66, 59, 70, 58, 64, 66],
       [93, 66, 89, 56, 56, 53, 95, 75],
       [80, 90, 50, 71, 74, 51, 62, 93],
       [95, 95, 62, 75, 75, 47, 85, 60],
       [46, 46, 81, 74, 86, 68, 75, 65]])

In [88]:
arr[[1,3,4],6]

array([95, 85, 75])

In [89]:
arr[2,[0,2,5,7]]

array([80, 50, 51, 93])

In [90]:
arr=np.random.choice([True,False],(5,4))
arr

array([[False,  True,  True, False],
       [ True,  True,  True, False],
       [False,  True, False, False],
       [False, False, False,  True],
       [False,  True,  True,  True]])

In [96]:
arr[1:4,[0,2]]

array([[ True,  True],
       [False, False],
       [False, False]])

In [97]:
arr[[2,4],:3]

array([[False,  True, False],
       [False,  True,  True]])

In [98]:
arr=np.loadtxt('C:/Users/YcAllenEffy/Desktop/1.txt',delimiter=',')
arr

array([[ 360307., 1297371.,  248828., 2201548.,  791195.],
       [ 368636., 1331268.,  248854., 3005210.,  754386.],
       [ 356222., 1449460.,  244691., 3334017.,  976461.],
       [ 429900., 1779493.,  282674., 3902288., 1078024.],
       [ 471526., 2231524.,  327262., 4552216., 1076877.],
       [ 498704., 2738273.,  351527., 4916122., 1279807.],
       [ 553071., 3100157.,  380216., 5357270., 1287651.],
       [ 576980., 3273780.,  440282., 5824880., 1360515.],
       [ 614773., 3428075.,  469439., 6430203., 1545284.],
       [ 703770., 3712128.,  488497., 7189684., 2152141.],
       [ 862742., 3778315.,  510097., 7390338., 2114842.],
       [ 548554., 3784740.,  598940., 7412516., 2177509.]])

In [99]:
arr[:3,[0,2,3]]

array([[ 360307.,  248828., 2201548.],
       [ 368636.,  248854., 3005210.],
       [ 356222.,  244691., 3334017.]])

In [100]:
arr[10,[1,4]]

array([3778315., 2114842.])

In [109]:
arr.sum(axis=0)>10000000

array([False,  True, False,  True,  True])

In [106]:
列号=np.where(arr.sum(axis=0)>10000000)
列号

(array([1, 3, 4], dtype=int64),)

In [108]:
arr[:,列号[0]]

array([[1297371., 2201548.,  791195.],
       [1331268., 3005210.,  754386.],
       [1449460., 3334017.,  976461.],
       [1779493., 3902288., 1078024.],
       [2231524., 4552216., 1076877.],
       [2738273., 4916122., 1279807.],
       [3100157., 5357270., 1287651.],
       [3273780., 5824880., 1360515.],
       [3428075., 6430203., 1545284.],
       [3712128., 7189684., 2152141.],
       [3778315., 7390338., 2114842.],
       [3784740., 7412516., 2177509.]])

In [111]:
arr.mean(axis=1)

array([ 979849.8, 1141670.8, 1272170.2, 1494475.8, 1731881. , 1956886.6,
       2135673. , 2295287.4, 2497554.8, 2849244. , 2931266.8, 2904451.8])

In [110]:
行号=np.where(arr.mean(axis=1)<2000000)
行号

(array([0, 1, 2, 3, 4, 5], dtype=int64),)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\2.xlsx')
df

   资源名称         空气质量日报
0    摘要         空气质量日报
1   关键字  监测报告 空气 质量 日报
2  数据领域           生态文明
3  主题分类           生态保护
4  服务分类           暂无数据
5  行业分类        环境监测和预测
6  开放类型           暂无数据
7  更新频率           按年更新

In [9]:
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\2.xlsx',sheet_name=[0,1])
df[1]

,XH,AQI,JCDWMC,JCSJ,ZSJB,ZSLB,YSJB,SYWRW,JKYXZK
0,00f60ce3-db7c-414e-80e0-8b24611e747d,39,华侨城,2019-02-14 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
1,00ffda7b-8094-464c-ae73-9659db468def,88,葵涌,2017-03-28 00:00:00,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
2,0100f95a-f6dd-44cf-a1b8-91e65cadf62d,50,盐田,2017-02-06 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
3,0111a697-b8d4-453d-bbe0-b280069e5d51,42,葵涌,2019-04-14 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
4,0111eae0-d8df-4573-aed9-0be536ad69ed,79,观澜,2015-02-18 00:00:00,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
...,...,...,...,...,...,...,...,...,...
9995,394101db-8e07-4e7c-ba3c-eb5420387517,25,南澳,2015-04-10 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9996,3948d96f-0f58-4d1e-919f-4c92c150bc52,92,梅沙,2015-09-13 00:00:00,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
9997,394d29c2-2e68-4e69-81c5-e9838d82077e,37,洪湖,2016-07-28 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9998,394ffb9e-6242-4eec-be3a-f2833ea153c2,38,龙岗,2016-06-01 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
9999,39591deb-bad2-495a-8408-ed4584fc7a06,44,南澳,2016-04-27 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染

In [11]:
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\2.xlsx',sheet_name='资源描述信息')
df

   资源名称         空气质量日报
0    摘要         空气质量日报
1   关键字  监测报告 空气 质量 日报
2  数据领域           生态文明
3  主题分类           生态保护
4  服务分类           暂无数据
5  行业分类        环境监测和预测
6  开放类型           暂无数据
7  更新频率           按年更新

In [4]:
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\2.xlsx',sheet_name=0,header=1)
df

     摘要         空气质量日报
0   关键字  监测报告 空气 质量 日报
1  数据领域           生态文明
2  主题分类           生态保护
3  服务分类           暂无数据
4  行业分类        环境监测和预测
5  开放类型           暂无数据
6  更新频率           按年更新

In [11]:
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\2.xlsx',sheet_name=1,header=None,names=['序号','展期','展厅','展品','展览内容'])
df

,,,,序号,展期,展厅,展品,展览内容
XH,AQI,JCDWMC,JCSJ,ZSJB,ZSLB,YSJB,SYWRW,JKYXZK
00f60ce3-db7c-414e-80e0-8b24611e747d,39,华侨城,2019-02-14 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
00ffda7b-8094-464c-ae73-9659db468def,88,葵涌,2017-03-28 00:00:00,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
0100f95a-f6dd-44cf-a1b8-91e65cadf62d,50,盐田,2017-02-06 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
0111a697-b8d4-453d-bbe0-b280069e5d51,42,葵涌,2019-04-14 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
...,...,...,...,...,...,...,...,...
394101db-8e07-4e7c-ba3c-eb5420387517,25,南澳,2015-04-10 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
3948d96f-0f58-4d1e-919f-4c92c150bc52,92,梅沙,2015-09-13 00:00:00,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
394d29c2-2e68-4e69-81c5-e9838d82077e,37,洪湖,2016-07-28 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
394ffb9e-6242-4eec-be3a-f2833ea153c2,38,龙岗,2016-06-01 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
39591deb-bad2-495a-8408-ed4584fc7a06,44,南澳,2016-04-27 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染

In [10]:
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\2.xlsx',sheet_name=0,header=None)
df

      0              1
0  资源名称         空气质量日报
1    摘要         空气质量日报
2   关键字  监测报告 空气 质量 日报
3  数据领域           生态文明
4  主题分类           生态保护
5  服务分类           暂无数据
6  行业分类        环境监测和预测
7  开放类型           暂无数据
8  更新频率           按年更新

In [13]:
filename=r'C:\Users\YcAllenEffy\Desktop\2.xlsx'
df1 = pd.read_excel(filename, sheet_name=1, header=None, names=['序号', '展期', '展厅', '展品', '展览内容'])
df1

,,,,序号,展期,展厅,展品,展览内容
XH,AQI,JCDWMC,JCSJ,ZSJB,ZSLB,YSJB,SYWRW,JKYXZK
00f60ce3-db7c-414e-80e0-8b24611e747d,39,华侨城,2019-02-14 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
00ffda7b-8094-464c-ae73-9659db468def,88,葵涌,2017-03-28 00:00:00,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
0100f95a-f6dd-44cf-a1b8-91e65cadf62d,50,盐田,2017-02-06 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
0111a697-b8d4-453d-bbe0-b280069e5d51,42,葵涌,2019-04-14 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
...,...,...,...,...,...,...,...,...
394101db-8e07-4e7c-ba3c-eb5420387517,25,南澳,2015-04-10 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
3948d96f-0f58-4d1e-919f-4c92c150bc52,92,梅沙,2015-09-13 00:00:00,二级,良,黄色,臭氧,空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响
394d29c2-2e68-4e69-81c5-e9838d82077e,37,洪湖,2016-07-28 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
394ffb9e-6242-4eec-be3a-f2833ea153c2,38,龙岗,2016-06-01 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染
39591deb-bad2-495a-8408-ed4584fc7a06,44,南澳,2016-04-27 00:00:00,一级,优,绿色,-,空气质量令人满意，基本无空气污染

In [28]:
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\3.xlsx',sheet_name=1,header=None,names=['自增ID', '测站编目', '采集时间', '时水位']
                ,index_col='自增ID',skiprows=[1]
                )
df

              测站编目                 采集时间    时水位
自增ID
ID            STCD                   TM     RZ
42073280  44030092  2017-05-01 00:10:00  52.84
42073041  44030114  2017-05-01 00:55:00   69.8
42073057  44030131  2017-05-01 00:55:00   52.4
42073060  44030133  2017-05-01 00:55:00  89.62
...            ...                  ...    ...
42132028  44030064  2017-05-02 01:10:00  47.77
42132039  44030079  2017-05-02 01:10:00  57.98
42132051  44030099  2017-05-02 01:10:00  61.05
42132063  44030100  2017-05-02 01:10:00  60.69
42131691  44030187  2017-05-02 01:10:00   0.97

[10000 rows x 3 columns]

In [29]:
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\3.xlsx',sheet_name=1,header=None,names=['自增ID', '测站编目', '采集时间', '时水位']
                ,index_col='测站编目',usecols='B:D',skiprows=[0,4,5,6,7,8,9]
                )
df

                         采集时间    时水位
测站编目
44030087  2017-05-01 00:10:00  72.58
44030092  2017-05-01 00:10:00  52.84
44030114  2017-05-01 00:55:00  69.80
44030092  2017-05-01 00:50:00  52.84
44030100  2017-05-01 00:50:00  60.70
...                       ...    ...
44030064  2017-05-02 01:10:00  47.77
44030079  2017-05-02 01:10:00  57.98
44030099  2017-05-02 01:10:00  61.05
44030100  2017-05-02 01:10:00  60.69
44030187  2017-05-02 01:10:00   0.97

[9994 rows x 2 columns]

In [5]:
import pandas as pd
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\3.xlsx',sheet_name=1,header=None,names=['自增ID', '测站编目', '采集时间', '时水位']
                ,index_col='测站编目',usecols='B:D',skiprows=[0]
                )
df

                         采集时间    时水位
测站编目
44030087  2017-05-01 00:10:00  72.58
44030092  2017-05-01 00:10:00  52.84
44030114  2017-05-01 00:55:00  69.80
44030131  2017-05-01 00:55:00  52.40
44030133  2017-05-01 00:55:00  89.62
...                       ...    ...
44030064  2017-05-02 01:10:00  47.77
44030079  2017-05-02 01:10:00  57.98
44030099  2017-05-02 01:10:00  61.05
44030100  2017-05-02 01:10:00  60.69
44030187  2017-05-02 01:10:00   0.97

[10000 rows x 2 columns]

In [25]:
import pandas as pd
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\3.xlsx',sheet_name=1,header=None,names=['自增ID', '测站编目', '采集时间', '时水位']
                ,skiprows=lambda x: random.randint(1, 10)>4
                )
df

          自增ID      测站编目                 采集时间    时水位
0     42073057  44030131  2017-05-01 00:55:00  52.40
1     42072221  44030086  2017-05-01 00:50:00  76.16
2     42072228  44030107  2017-05-01 00:50:00  51.59
3     42072230  44030114  2017-05-01 00:50:00  69.80
4     42072233  44030120  2017-05-01 00:50:00  45.01
...        ...       ...                  ...    ...
3988  42130838  44030180  2017-05-02 01:10:00   1.51
3989  42132004  44030049  2017-05-02 01:10:00  77.99
3990  42131161  44030081  2017-05-02 01:10:00  69.04
3991  42132039  44030079  2017-05-02 01:10:00  57.98
3992  42131691  44030187  2017-05-02 01:10:00   0.97

[3993 rows x 4 columns]

In [52]:
import numpy as np
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\3.xlsx',sheet_name=1,header=None,names=['自增ID', '测站编目', '采集时间', '时水位'],
                index_col='自增ID'
                )
df

              测站编目                 采集时间    时水位
自增ID
ID            STCD                   TM     RZ
42073267  44030087  2017-05-01 00:10:00  72.58
42073280  44030092  2017-05-01 00:10:00  52.84
42073041  44030114  2017-05-01 00:55:00   69.8
42073057  44030131  2017-05-01 00:55:00   52.4
...            ...                  ...    ...
42132028  44030064  2017-05-02 01:10:00  47.77
42132039  44030079  2017-05-02 01:10:00  57.98
42132051  44030099  2017-05-02 01:10:00  61.05
42132063  44030100  2017-05-02 01:10:00  60.69
42131691  44030187  2017-05-02 01:10:00   0.97

[10001 rows x 3 columns]

In [43]:
df.loc[np.random.choice(df.index,int(0.4*len(df.index)))]

          自增ID      测站编目                 采集时间    时水位
763   42071842  44030155  2017-05-01 00:25:00  98.17
829   42072871  44030083  2017-05-01 00:05:00  68.94
4755  42084552  44030090  2017-05-01 05:40:00  47.37
8962  42124899  44030112  2017-05-01 22:55:00  35.48
2540  42087949  44030186  2017-05-01 06:25:00    2.2
...        ...       ...                  ...    ...
3525  42086381  44030027  2017-05-01 06:40:00  32.06
7839  42111088  44030102  2017-05-01 16:45:00   47.3
7705  42111043  44030054  2017-05-01 16:50:00  56.55
2948  42088193  44030159  2017-05-01 07:10:00   43.1
1899  54563692  44030044  2017-12-18 13:00:00  47.86

[4000 rows x 4 columns]

In [59]:
df['采集时间'].index

Index(['ID', '42073267', '42073280', '42073041', '42073057', '42073060',
       '42073061', '42072221', '42072222', '42072223',
       ...
       '42130838', '42132004', '42132016', '42131291', '42131161', '42132028',
       '42132039', '42132051', '42132063', '42131691'],
      dtype='object', name='自增ID', length=10001)

In [60]:
import numpy as np
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='社区编号目录',usecols='B:C')
df

             社区编号     社区名称
0   1111027377718    龙博苑二区
1   1111027379032   融科香雪兰溪
2   1111027381021     兴隆家园
3   1111052857099    绿地新都会
4   1111027378400    模式口南里
..            ...      ...
85  1111027378900     汽南小区
86  1111052073923   门头沟月季园
87  1111027380943  新街口西里一区
88  1111027381533     逸成东苑
89  1111027380051   天通苑东一区

[90 rows x 2 columns]

In [49]:
df['社区名称'].values

array(['龙博苑二区', '融科香雪兰溪', '兴隆家园', '绿地新都会', '模式口南里', '北京新天地五期', '北辰福第二号院',
       '公园一八七二', '美然绿色家园', '太阳园', '澳景花庭', '莱圳家园', '国融国际', '毛纺厂南小区',
       '黄庄小区', '望京花园西区', '南庭新苑北区', '靓景明居', '六合园', '农光南里', '站前巴黎',
       '雍和家园一期', '北苑家园莲葩园', '甘露晴苑', '月坛北街', '清澄名苑北区', '中国铁建国际城', '定慧北里',
       '怡海花园恒泰园', '天时名苑', '首开国风美仑', '海润国际', '蒲黄榆路', '金荣园', '驼房营南里',
       '劲松二区', '弘善家园', '长城国际', '同兴园', '芍药居北里', '领秀慧谷B区', '山水文园四期',
       '郁花园二里', '椿树园', '东恒时代二期', '空港吉祥花园', '京棉新城', '芳星园三区', '兴政东里',
       '领秀慧谷A区', '怡海花园富润园', '高家园二区', '西木小区', '九和苑', '青年汇佳园', '景泰西里西区',
       '太平桥东里', '育慧西里', '罗马花园', '瞰都国际', '龙博苑一区', '文联宿舍', '柏林寺西', '荣丰2008',
       '安慧里一区', '西井小区四区', '天通苑本四区', '北街家园八区', '天通苑中苑', '和平里七区', '北洼西里',
       '建西苑中里', '大方居', '天通苑北三区', '天通苑本六区', '一品嘉园', '清源西里', '左家庄南里',
       '和谐家园一区', '首开国风美唐二期', '东辰小区', '北街家园六区', '华芳园', '新华联家园南区', '瑞祥里',
       '汽南小区', '门头沟月季园', '新街口西里一区', '逸成东苑', '天通苑东一区'], dtype=object)

In [48]:
df['社区编号']

0     1111027377718
1     1111027379032
2     1111027381021
3     1111052857099
4     1111027378400
          ...
85    1111027378900
86    1111052073923
87    1111027380943
88    1111027381533
89    1111027380051
Name: 社区编号, Length: 90, dtype: int64

In [62]:
df['社区名称'].values[:10]

array(['龙博苑二区', '融科香雪兰溪', '兴隆家园', '绿地新都会', '模式口南里', '北京新天地五期', '北辰福第二号院',
       '公园一八七二', '美然绿色家园', '太阳园'], dtype=object)

In [63]:
df['社区名称'].values[20:31]

array(['站前巴黎', '雍和家园一期', '北苑家园莲葩园', '甘露晴苑', '月坛北街', '清澄名苑北区', '中国铁建国际城',
       '定慧北里', '怡海花园恒泰园', '天时名苑', '首开国风美仑'], dtype=object)

In [67]:
df.iloc[20:31]

             社区编号     社区名称
20  1111027382608     站前巴黎
21  1111027381711   雍和家园一期
22  1111027376254  北苑家园莲葩园
23  1111027374637     甘露晴苑
24  1111027382064     月坛北街
25  1111027378789   清澄名苑北区
26  1111027382441  中国铁建国际城
27  1111027376896     定慧北里
28  1111027381705  怡海花园恒泰园
29  1111027380000     天时名苑
30  1111046997447   首开国风美仑

In [69]:
import numpy as np
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='房屋成交信息',usecols='B,C,G',index_col='id')
df

                     所在社区编号      总价
id
101101492812  1111027377718   380.0
101101594408  1111027379032   507.0
101101601669  1111027381021   515.0
101101685048  1111052857099   305.0
101101704540  1111027378400   260.0
...                     ...     ...
101102446043  1111027378900   509.0
101102446345  1111052073923   173.0
101102447671  1111027380943  1120.0
101102451242  1111027381533   607.0
101102452309  1111027380051   372.0

[97 rows x 2 columns]

In [78]:
us=round(df['总价']/6.54,2)
us

id
101101492812     58.10
101101594408     77.52
101101601669     78.75
101101685048     46.64
101101704540     39.76
                 ...
101102446043     77.83
101102446345     26.45
101102447671    171.25
101102451242     92.81
101102452309     56.88
Name: 总价, Length: 97, dtype: float64

In [79]:
df[us>100]

                     所在社区编号      总价
id
101101711072  1111027375945   665.0
101101814992  1111027374762  1460.0
101101860222  1111027380126   910.0
101101866373  1111027375613  1148.0
101102158470  1111027381711  1655.0
101102220650  1111027382441   666.0
101102231187  1111027381705   940.0
101102233979  1111027380000   735.0
101102238676  1111027375242  1010.0
101102326972  1111027379560  1250.0
101102334763  1111027376564   970.0
101102383627  1111027377179   760.0
101102403623  1111027378004  1002.0
101102447671  1111027380943  1120.0

In [89]:
p=total.values

p

array([ 58.1 ,  77.52,  78.75,  46.64,  39.76, 101.68,  48.32, 223.24,
        60.4 ,  62.69, 139.14, 175.54,  57.34,  25.69,  67.4 ,  93.27,
        79.97,  32.26,  66.97,  38.23,  49.77,  62.69,  98.17, 253.06,
        77.98,  50.46,  54.43,  77.98,  41.28, 101.83,  51.22, 143.73,
       112.39,  45.87, 154.43,  33.94,  38.23,  61.16,  45.11,  73.24,
        39.76,  33.18,  56.57,  50.46, 191.13,  67.28, 148.32,  90.98,
        58.1 ,  60.55,  64.98,  34.02,  57.65,  86.85,  51.83,  53.52,
       116.21,  65.9 ,  54.28,  59.02,  53.82,  90.21,  36.54, 153.21,
        53.21,  77.52,  79.97,  88.38,  55.81,  59.02,  89.45,  44.34,
        57.57,  26.61,  59.17,  55.2 ,  62.32,  89.45,  97.86,  38.84,
        59.02,  57.8 ,  33.49,  33.94,  64.22,  81.04,  87.31,  29.05,
        54.2 ,  46.64,  61.93,  42.35,  77.83,  26.45, 171.25,  92.81,
        56.88])

In [84]:
total = np.round(df['总价'] / 6.54, 2)
total

id
101101492812     58.10
101101594408     77.52
101101601669     78.75
101101685048     46.64
101101704540     39.76
                 ...
101102446043     77.83
101102446345     26.45
101102447671    171.25
101102451242     92.81
101102452309     56.88
Name: 总价, Length: 97, dtype: float64

In [96]:
pd.set_option('display.max_rows',None)
df['序号']=range(len(df.index))
df.index=df['序号']

In [97]:
us=round(df['总价']/6.54,2)
us

序号
0      58.10
1      77.52
2      78.75
3      46.64
4      39.76
5     101.68
6      48.32
7     223.24
8      60.40
9      62.69
10    139.14
11    175.54
12     57.34
13     25.69
14     67.40
15     93.27
16     79.97
17     32.26
18     66.97
19     38.23
20     49.77
21     62.69
22     98.17
23    253.06
24     77.98
25     50.46
26     54.43
27     77.98
28     41.28
29    101.83
30     51.22
31    143.73
32    112.39
33     45.87
34    154.43
35     33.94
36     38.23
37     61.16
38     45.11
39     73.24
40     39.76
41     33.18
42     56.57
43     50.46
44    191.13
45     67.28
46    148.32
47     90.98
48     58.10
49     60.55
50     64.98
51     34.02
52     57.65
53     86.85
54     51.83
55     53.52
56    116.21
57     65.90
58     54.28
59     59.02
60     53.82
61     90.21
62     36.54
63    153.21
64     53.21
65     77.52
66     79.97
67     88.38
68     55.81
69     59.02
70     89.45
71     44.34
72     57.57
73     26.61
74     59.17
75     55.20
76     62.32
77     89.45
78     97.86
79     38.84
80     59.02
81     57.80
82     33.49
83     33.94
84     64.22
85     81.04
86     87.31
87     29.05
88     54.20
89     46.64
90     61.93
91     42.35
92     77.83
93     26.45
94    171.25
95     92.81
96     56.88
Name: 总价, dtype: float64

In [99]:
df['美元']=round(df['总价']/6.54,2)

           所在社区编号      总价  序号      美元
序号
0   1111027377718   380.0   0   58.10
1   1111027379032   507.0   1   77.52
2   1111027381021   515.0   2   78.75
3   1111052857099   305.0   3   46.64
4   1111027378400   260.0   4   39.76
5   1111027375945   665.0   5  101.68
6   1111041160125   316.0   6   48.32
7   1111027374762  1460.0   7  223.24
8   1111027378386   395.0   8   60.40
9   1111027378386   410.0   9   62.69
10  1111027380126   910.0  10  139.14
11  1111027375613  1148.0  11  175.54
12  1111027378224   375.0  12   57.34
13  1111027374693   168.0  13   25.69
14  1111027378259   440.8  14   67.40
15  1111027376959   610.0  15   93.27
16  1111027380303   523.0  16   79.97
17  1111045368414   211.0  17   32.26
18  1111027377211   438.0  18   66.97
19  1111027377889   250.0  19   38.23
20  1111027378493   325.5  20   49.77
21  1111027382608   410.0  21   62.69
22  1111027376959   642.0  22   98.17
23  1111027381711  1655.0  23  253.06
24  1111027376254   510.0  24   77.98
25  1111027379032   330.0  25   50.46
26  1111027374637   356.0  26   54.43
27  1111027382064   510.0  27   77.98
28  1111027378789   270.0  28   41.28
29  1111027382441   666.0  29  101.83
30  1111027376896   335.0  30   51.22
31  1111027381705   940.0  31  143.73
32  1111027380000   735.0  32  112.39
33  1111046997447   300.0  33   45.87
34  1111027375242  1010.0  34  154.43
35  1111027378724   222.0  35   33.94
36  1111027377330   250.0  36   38.23
37  1111027377467   400.0  37   61.16
38  1111027377342   295.0  38   45.11
39  1111027375273   479.0  39   73.24
40  1111027376334   260.0  40   39.76
41  1111027380074   217.0  41   33.18
42  1111027379657   370.0  42   56.57
43  1111027378131   330.0  43   50.46
44  1111027379560  1250.0  44  191.13
45  1111027381745   440.0  45   67.28
46  1111027376564   970.0  46  148.32
47  1111027373686   595.0  47   90.98
48  1111027377441   380.0  48   58.10
49  1111027377297   396.0  49   60.55
50  1111027374411   425.0  50   64.98
51  1111027381444   222.5  51   34.02
52  1111047917139   377.0  52   57.65
53  1111027381702   568.0  53   86.85
54  1111027374616   339.0  54   51.83
55  1111027381067   350.0  55   53.52
56  1111027377179   760.0  56  116.21
57  1111027378890   431.0  57   65.90
58  1111027377413   355.0  58   54.28
59  1111027381705   386.0  59   59.02
60  1111027379961   352.0  60   53.82
61  1111027381735   590.0  61   90.21
62  1111027376334   239.0  62   36.54
63  1111027378004  1002.0  63  153.21
64  1111027377595   348.0  64   53.21
65  1111027377721   507.0  65   77.52
66  1111027380370   523.0  66   79.97
67  1111027376004   578.0  67   88.38
68  1111027375945   365.0  68   55.81
69  1111027378998   386.0  69   59.02
70  1111027375605   585.0  70   89.45
71  1111027380971   290.0  71   44.34
72  1111027380045   376.5  72   57.57
73  1111027375904   174.0  73   26.61
74  1111027380057   387.0  74   59.17
75  1111027375203   361.0  75   55.20
76  1111027377211   407.6  76   62.32
77  1111027376159   585.0  77   89.45
78  1111027377496   640.0  78   97.86
79  1111027376834   254.0  79   38.84
80  1111027380043   386.0  80   59.02
81  1111027380042   378.0  81   57.80
82  1111027381935   219.0  82   33.49
83  1111027378968   222.0  83   33.94
84  1111027382562   420.0  84   64.22
85  1111027375384   530.0  85   81.04
86  1111046920539   571.0  86   87.31
87  1111027376788   190.0  87   29.05
88  1111027379515   354.5  88   54.20
89  1111027374970   305.0  89   46.64
90  1111027380847   405.0  90   61.93
91  1111027379066   277.0  91   42.35
92  1111027378900   509.0  92   77.83
93  1111052073923   173.0  93   26.45
94  1111027380943  1120.0  94  171.25
95  1111027381533   607.0  95   92.81
96  1111027380051   372.0  96   56.88

In [101]:
df[df['美元']>100]

           所在社区编号      总价  序号      美元
序号
5   1111027375945   665.0   5  101.68
7   1111027374762  1460.0   7  223.24
10  1111027380126   910.0  10  139.14
11  1111027375613  1148.0  11  175.54
23  1111027381711  1655.0  23  253.06
29  1111027382441   666.0  29  101.83
31  1111027381705   940.0  31  143.73
32  1111027380000   735.0  32  112.39
34  1111027375242  1010.0  34  154.43
44  1111027379560  1250.0  44  191.13
46  1111027376564   970.0  46  148.32
56  1111027377179   760.0  56  116.21
63  1111027378004  1002.0  63  153.21
94  1111027380943  1120.0  94  171.25

In [91]:
import pandas as pd
import numpy as np

total = df['总价']
total = np.round(total / 6.54, 2)
print(total)

price = total.values
price = price[price > 100]
print(price)

id
101101492812     58.10
101101594408     77.52
101101601669     78.75
101101685048     46.64
101101704540     39.76
                 ...
101102446043     77.83
101102446345     26.45
101102447671    171.25
101102451242     92.81
101102452309     56.88
Name: 总价, Length: 97, dtype: float64
[101.68 223.24 139.14 175.54 253.06 101.83 143.73 112.39 154.43 191.13
 148.32 116.21 153.21 171.25]

In [110]:
a=np.arange(0,101,2)
b=a+1
c=pd.Series(a,b)
c

1        0
3        2
5        4
7        6
9        8
11      10
13      12
15      14
17      16
19      18
21      20
23      22
25      24
27      26
29      28
31      30
33      32
35      34
37      36
39      38
41      40
43      42
45      44
47      46
49      48
51      50
53      52
55      54
57      56
59      58
61      60
63      62
65      64
67      66
69      68
71      70
73      72
75      74
77      76
79      78
81      80
83      82
85      84
87      86
89      88
91      90
93      92
95      94
97      96
99      98
101    100
dtype: int32

In [114]:
pd.set_option('display.max_rows',5)

In [115]:
import numpy as np
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='房屋成交信息',index_col='id')
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [125]:
df.loc[101102238676]['链家网址']

'https://bj.lianjia.com/chengjiao/101102238676.html'

In [127]:
df['链家网址'][101102238676]

'https://bj.lianjia.com/chengjiao/101102238676.html'

In [129]:
sr=df['链家网址']
sr.index=df['所在社区编号']
sr

所在社区编号
1111027377718    https://bj.lianjia.com/chengjiao/101101492812....
1111027379032    https://bj.lianjia.com/chengjiao/101101594408....
                                       ...
1111027381533    https://bj.lianjia.com/chengjiao/101102451242....
1111027380051    https://bj.lianjia.com/chengjiao/101102452309....
Name: 链家网址, Length: 97, dtype: object

In [130]:
sr[1111027380051]

'https://bj.lianjia.com/chengjiao/101102452309.html'

In [2]:
dic={'张三':21,'李四': 22,'王五': 23}
dic

{'张三': 21, '李四': 22, '王五': 23}

In [3]:
sr=pd.Series(dic)
sr

张三    21
李四    22
王五    23
dtype: int64

In [5]:
sr[-1]=22
sr

张三    21
李四    22
王五    22
dtype: int64

In [6]:
for i in sr.items():
    print(i[0],'--',i[1])

张三 -- 21
李四 -- 22
王五 -- 22

In [7]:
import pandas as pd

dic_stu = {}
for i in range(3):
    name = input('请输入姓名：')
    age = int(input('请输入年龄：'))
    dic_stu[name] = age

s = pd.Series(dic_stu)
s['c'] = 22
for stu in list(s.items()):
    print(f'{stu[0]} -- {stu[1]}')

请输入姓名：张三
请输入年龄：22
请输入姓名：李四
请输入年龄：33
请输入姓名：王五
请输入年龄：11
张三 -- 22
李四 -- 33
王五 -- 11
c -- 22

In [8]:
s['c'] = 22
s

张三    22
李四    33
王五    11
c     22
dtype: int64

In [16]:
import numpy as np
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='社区编号目录',usecols='B:C',index_col='社区名称')
df

                  社区编号
社区名称
龙博苑二区    1111027377718
融科香雪兰溪   1111027379032
兴隆家园     1111027381021
绿地新都会    1111052857099
模式口南里    1111027378400
...                ...
汽南小区     1111027378900
门头沟月季园   1111052073923
新街口西里一区  1111027380943
逸成东苑     1111027381533
天通苑东一区   1111027380051

[90 rows x 1 columns]

In [19]:
sr=df['社区编号']
sr[['太阳园', '月坛北街', '大方居' ]].values

array([1111027380126, 1111027382064, 1111027376834], dtype=int64)

In [18]:
sr[[7,9]]

社区名称
公园一八七二    1111027374762
太阳园       1111027380126
Name: 社区编号, dtype: int64

In [20]:
import numpy as np
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='房屋成交信息',index_col='id')
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [26]:
df[df['关注人数']>300]

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101711072,https://bj.lianjia.com/chengjiao/101101711072....,1111027375945,2018-01-03,200,313,665.0,49013,135.68,3,1,1,2,中 28,2008
101101843015,https://bj.lianjia.com/chengjiao/101101843015....,1111027378386,2018-01-03,167,370,410.0,60065,68.26,2,1,1,1,顶 6,2000

In [23]:
df[(df['挂牌天数']>=100)&(df['挂牌天数']<=200)]

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101711072,https://bj.lianjia.com/chengjiao/101101711072....,1111027375945,2018-01-03,200,313,665.0,49013,135.68,3,1,1,2,中 28,2008
101101739667,https://bj.lianjia.com/chengjiao/101101739667....,1111041160125,2018-01-03,192,125,316.0,40446,78.13,2,1,1,1,顶 22,2008
101101814992,https://bj.lianjia.com/chengjiao/101101814992....,1111027374762,2018-01-03,173,82,1460.0,80896,180.48,3,1,1,2,中 32,2011
101101823047,https://bj.lianjia.com/chengjiao/101101823047....,1111027378386,2018-01-03,171,68,395.0,44887,88.00,2,1,1,1,低 6,2001
101101843015,https://bj.lianjia.com/chengjiao/101101843015....,1111027378386,2018-01-03,167,370,410.0,60065,68.26,2,1,1,1,顶 6,2000
101101860222,https://bj.lianjia.com/chengjiao/101101860222....,1111027380126,2018-01-03,162,32,910.0,86053,105.75,2,2,1,2,低 30,2001
101101866373,https://bj.lianjia.com/chengjiao/101101866373....,1111027375613,2018-01-03,160,111,1148.0,79767,143.92,3,2,1,2,中 11,2005
101101885869,https://bj.lianjia.com/chengjiao/101101885869....,1111027378224,2018-01-03,157,92,375.0,72675,51.60,1,1,1,1,高 18,2007
101101976063,https://bj.lianjia.com/chengjiao/101101976063....,1111027374693,2018-01-03,136,176,168.0,31663,53.06,1,1,1,1,中 23,2008
101102029109,https://bj.lianjia.com/chengjiao/101102029109....,1111027378259,2018-01-03,124,41,440.8,63425,69.50,3,1,1,1,中 6,1985
101102047604,https://bj.lianjia.com/chengjiao/101102047604....,1111027376959,2018-01-03,119,144,610.0,115750,52.70,2,1,1,1,底 5,1981
101102056474,https://bj.lianjia.com/chengjiao/101102056474....,1111027380303,2018-01-03,117,152,523.0,65704,79.60,2,2,1,2,中 24,2000
101102073737,https://bj.lianjia.com/chengjiao/101102073737....,1111045368414,2018-01-03,113,130,211.0,42739,49.37,1,1,1,1,高 15,2012
101102081780,https://bj.lianjia.com/chengjiao/101102081780....,1111027377211,2018-01-03,111,22,438.0,40291,108.71,2,1,1,1,高 12,2004
101102087081,https://bj.lianjia.com/chengjiao/101102087081....,1111027377889,2018-01-03,109,67,250.0,42453,58.89,1,1,1,1,低 6,1995
101102088408,https://bj.lianjia.com/chengjiao/101102088408....,1111027378493,2018-01-03,110,134,325.5,55804,58.33,1,1,1,1,中 17,1989
101102111185,https://bj.lianjia.com/chengjiao/101102111185....,1111027382608,2018-01-03,103,33,410.0,36795,111.43,2,1,1,1,中 11,2006

In [24]:
df[((df['平米均价']>=30000)&(df['平米均价']<=50000))|((df['平米均价']>=100000)&(df['平米均价']<=120000))]

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
101101711072,https://bj.lianjia.com/chengjiao/101101711072....,1111027375945,2018-01-03,200,313,665.0,49013,135.68,3,1,1,2,中 28,2008
101101739667,https://bj.lianjia.com/chengjiao/101101739667....,1111041160125,2018-01-03,192,125,316.0,40446,78.13,2,1,1,1,顶 22,2008
101101823047,https://bj.lianjia.com/chengjiao/101101823047....,1111027378386,2018-01-03,171,68,395.0,44887,88.00,2,1,1,1,低 6,2001
101101976063,https://bj.lianjia.com/chengjiao/101101976063....,1111027374693,2018-01-03,136,176,168.0,31663,53.06,1,1,1,1,中 23,2008
101102047604,https://bj.lianjia.com/chengjiao/101102047604....,1111027376959,2018-01-03,119,144,610.0,115750,52.70,2,1,1,1,底 5,1981
101102073737,https://bj.lianjia.com/chengjiao/101102073737....,1111045368414,2018-01-03,113,130,211.0,42739,49.37,1,1,1,1,高 15,2012
101102081780,https://bj.lianjia.com/chengjiao/101102081780....,1111027377211,2018-01-03,111,22,438.0,40291,108.71,2,1,1,1,高 12,2004
101102087081,https://bj.lianjia.com/chengjiao/101102087081....,1111027377889,2018-01-03,109,67,250.0,42453,58.89,1,1,1,1,低 6,1995
101102111185,https://bj.lianjia.com/chengjiao/101102111185....,1111027382608,2018-01-03,103,33,410.0,36795,111.43,2,1,1,1,中 11,2006
101102134610,https://bj.lianjia.com/chengjiao/101102134610....,1111027376959,2018-01-03,98,39,642.0,117583,54.60,2,1,1,1,高 6,1981
101102172813,https://bj.lianjia.com/chengjiao/101102172813....,1111027376254,2018-01-03,86,97,510.0,46910,108.72,2,1,1,1,中 25,2004
101102196240,https://bj.lianjia.com/chengjiao/101102196240....,1111027379032,2018-01-03,80,71,330.0,36971,89.26,3,1,1,1,中 20,2010
101102234186,https://bj.lianjia.com/chengjiao/101102234186....,1111046997447,2018-01-03,70,52,300.0,33857,88.61,3,2,1,1,低 16,2014
101102257553,https://bj.lianjia.com/chengjiao/101102257553....,1111027377330,2018-01-03,63,52,250.0,39039,64.04,2,1,1,1,高 6,1998
101102292185,https://bj.lianjia.com/chengjiao/101102292185....,1111027376334,2018-01-03,54,33,260.0,48772,53.31,1,1,1,1,高 22,2009
101102296349,https://bj.lianjia.com/chengjiao/101102296349....,1111027380074,2018-01-03,53,106,217.0,42516,51.04,1,1,1,1,高 6,1997
101102331601,https://bj.lianjia.com/chengjiao/101102331601....,1111027381745,2018-01-03,41,61,440.0,37314,117.92,2,2,1,2,中 6,2002
101102363365,https://bj.lianjia.com/chengjiao/101102363365....,1111027381444,2018-01-03,32,38,222.5,40647,54.74,2,1,1,1,中 6,1993
101102365237,https://bj.lianjia.com/chengjiao/101102365237....,1111047917139,2018-01-03,32,26,377.0,41931,89.91,3,2,1,1,中 9,2011
101102383627,https://bj.lianjia.com/chengjiao/101102383627....,1111027377179,2018-01-03,26,0,760.0,102856,73.89,1,1,1,1,中 14,2005
101102396155,https://bj.lianjia.com/chengjiao/101102396155....,1111027376334,2018-01-03,22,33,239.0,44524,53.68,1,1,1,1,低 22,2009
101102406817,https://bj.lianjia.com/chengjiao/101102406817....,1111027377721,2018-01-03,18,0,507.0,43124,117.57,3,1,1,2,中 6,2004
101102414124,https://bj.lianjia.com/chengjiao/101102414124....,1111027378998,2018-01-03,16,87,386.0,118007,32.71,1,1,1,2,中 12,2005
101102414846,https://bj.lianjia.com/chengjiao/101102414846....,1111027380971,2018-01-03,15,27,290.0,38657,75.02,2,1,1,1,顶 6,2000
101102417538,https://bj.lianjia.com/chengjiao/101102417538....,1111027380045,2018-01-03,14,23,376.5,37237,101.11,2,2,1,2,低 6,2000
101102419481,https://bj.lianjia.com/chengjiao/101102419481....,1111027380057,2018-01-03,14,29,387.0,37842,102.27,2,1,1,1,高 20,2008
101102426907,https://bj.lianjia.com/chengjiao/101102426907....,1111027377211,2018-01-03,11,5,407.6,45294,89.99,2,1,1,1,中 12,2005
101102429630,https://bj.lianjia.com/chengjiao/101102429630....,1111027377496,2018-01-03,10,11,640.0,48193,132.80,4,2,1,1,顶 6,2000
101102431831,https://bj.lianjia.com/chengjiao/101102431831....,1111027380043,2018-01-03,10,0,386.0,39615,97.44,2,1,1,2,中 6,2004
101102433507,https://bj.lianjia.com/chengjiao/101102433507....,1111027380042,2018-01-03,9,11,378.0,33002,114.54,2,2,1,2,顶 6,2000
101102437883,https://bj.lianjia.com/chengjiao/101102437883....,1111027378968,2018-01-03,7,20,222.0,39728,55.88,2,1,1,1,顶 6,1997
101102438759,https://bj.lianjia.com/chengjiao/101102438759....,1111027375384,2018-01-03,7,0,530.0,44419,119.32,3,1,1,1,底 6,2006
101102441034,https://bj.lianjia.com/chengjiao/101102441034....,1111027379515,2018-01-03,6,23,354.5,45432,78.03,3,1,1,1,高 18,2009
101102443459,https://bj.lianjia.com/chengjiao/101102443459....,1111027380847,2018-01-03,5,1,405.0,42718,94.81,2,2,1,2,低 6,2004
101102445248,https://bj.lianjia.com/chengjiao/101102445248....,1111027379066,2018-01-03,5,0,277.0,41699,66.43,1,1,1,1,中 9,2006
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [27]:
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [33]:
sr=df['交易时间']
sr[101101704540:101101492812]

Series([], Name: 交易时间, dtype: datetime64[ns])

In [28]:
import numpy as np
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='房屋成交信息',index_col='id')
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [29]:
df.index=np.array(df.index,dtype=np.str)
df.index.name='id'

In [30]:
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [31]:
sr=df['交易时间']
sr

id
101101492812   2018-01-03
101101594408   2018-01-03
101101601669   2018-01-03
101101685048   2018-01-03
101101704540   2018-01-03
                  ...
101102446043   2018-01-03
101102446345   2018-01-03
101102447671   2018-01-03
101102451242   2018-01-03
101102452309   2018-01-03
Name: 交易时间, Length: 97, dtype: datetime64[ns]

In [33]:
sr['101101492812':'101101704540']

id
101101492812   2018-01-03
101101594408   2018-01-03
101101601669   2018-01-03
101101685048   2018-01-03
101101704540   2018-01-03
Name: 交易时间, dtype: datetime64[ns]

In [38]:
df.index=df['所在社区编号']
sr2=df['关注人数']
sr2[4:10]

所在社区编号
1111027378400      2
1111027375945    313
1111041160125    125
1111027374762     82
1111027378386     68
1111027378386    370
Name: 关注人数, dtype: int64

In [42]:
sr3.index=np.array(sr3.index,dtype=np.str)
sr3.index.name='id'
sr3['1111027378900':'1111027380051']

id
1111027378900    121191
1111052073923     37495
1111027380943    102970
1111027381533     80729
1111027380051     41822
Name: 平米均价, dtype: int64

In [43]:
import numpy as np
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='房屋成交信息',index_col='id')
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [44]:
sr=df['交易时间']
sr.loc[101101492812:101101704540]

id
101101492812   2018-01-03
101101594408   2018-01-03
101101601669   2018-01-03
101101685048   2018-01-03
101101704540   2018-01-03
Name: 交易时间, dtype: datetime64[ns]

In [54]:
sr=df['平米均价']
sr.index=df['所在社区编号']
sr.loc[1111027378900:1111027380051]
# sr[1111027380051]

所在社区编号
1111027378900    121191
1111052073923     37495
1111027380943    102970
1111027381533     80729
1111027380051     41822
Name: 平米均价, dtype: int64

In [55]:
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [59]:
sr=df['链家网址']
sr.index=df['建成时间']
sr.loc[2010]

建成时间
2010    https://bj.lianjia.com/chengjiao/101102196240....
2010    https://bj.lianjia.com/chengjiao/101102233979....
2010    https://bj.lianjia.com/chengjiao/101102418928....
Name: 链家网址, dtype: object

In [60]:
sr.index=df['卧室']
sr[3]

3    https://bj.lianjia.com/chengjiao/101101594408....
3    https://bj.lianjia.com/chengjiao/101101601669....
3    https://bj.lianjia.com/chengjiao/101101711072....
3    https://bj.lianjia.com/chengjiao/101101814992....
3    https://bj.lianjia.com/chengjiao/101101866373....
3    https://bj.lianjia.com/chengjiao/101102029109....
3    https://bj.lianjia.com/chengjiao/101102158470....
3    https://bj.lianjia.com/chengjiao/101102196240....
3    https://bj.lianjia.com/chengjiao/101102231187....
3    https://bj.lianjia.com/chengjiao/101102233979....
3    https://bj.lianjia.com/chengjiao/101102234186....
3    https://bj.lianjia.com/chengjiao/101102238676....
3    https://bj.lianjia.com/chengjiao/101102326972....
3    https://bj.lianjia.com/chengjiao/101102365237....
3    https://bj.lianjia.com/chengjiao/101102395736....
3    https://bj.lianjia.com/chengjiao/101102406817....
3    https://bj.lianjia.com/chengjiao/101102414473....
3    https://bj.lianjia.com/chengjiao/101102427922....
3    https://bj.lianjia.com/chengjiao/101102438759....
3    https://bj.lianjia.com/chengjiao/101102438854....
3    https://bj.lianjia.com/chengjiao/101102441034....
3    https://bj.lianjia.com/chengjiao/101102447671....
Name: 链家网址, dtype: object

In [61]:
sr.index=df['关注人数']
sr[0]

0    https://bj.lianjia.com/chengjiao/101102244732....
0    https://bj.lianjia.com/chengjiao/101102378934....
0    https://bj.lianjia.com/chengjiao/101102383627....
0    https://bj.lianjia.com/chengjiao/101102406817....
0    https://bj.lianjia.com/chengjiao/101102431831....
0    https://bj.lianjia.com/chengjiao/101102434018....
0    https://bj.lianjia.com/chengjiao/101102438759....
0    https://bj.lianjia.com/chengjiao/101102439295....
0    https://bj.lianjia.com/chengjiao/101102445248....
0    https://bj.lianjia.com/chengjiao/101102446043....
0    https://bj.lianjia.com/chengjiao/101102446345....
0    https://bj.lianjia.com/chengjiao/101102447671....
0    https://bj.lianjia.com/chengjiao/101102451242....
0    https://bj.lianjia.com/chengjiao/101102452309....
Name: 链家网址, dtype: object

In [2]:
import numpy as np
import pandas as pd
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='房屋成交信息',index_col='id')
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [3]:
sr=df['总价']
sr

id
101101492812     380.0
101101594408     507.0
101101601669     515.0
101101685048     305.0
101101704540     260.0
                 ...
101102446043     509.0
101102446345     173.0
101102447671    1120.0
101102451242     607.0
101102452309     372.0
Name: 总价, Length: 97, dtype: float64

In [5]:
sr[sr>20]

id
101101492812     380.0
101101594408     507.0
101101601669     515.0
101101685048     305.0
101101704540     260.0
                 ...
101102446043     509.0
101102446345     173.0
101102447671    1120.0
101102451242     607.0
101102452309     372.0
Name: 总价, Length: 97, dtype: float64

In [7]:
df2=pd.DataFrame({'网址':df['链家网址'],'总价':df['总价'],'均价':df['平米均价']})
df2

,网址,总价,均价
id,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,380.0,47560
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,507.0,36071
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,515.0,49306
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,305.0,34731
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,260.0,47247
...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,509.0,121191
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,173.0,37495
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1120.0,102970
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,607.0,80729
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,372.0,41822

In [14]:
sr=df['挂牌天数']
sr=sr[sr>3]
sr

id
101101492812    259
101101594408    231
101101601669    229
101101685048    208
101101704540    201
               ...
101102443459      5
101102445248      5
101102446043      4
101102446345      4
101102447671      4
Name: 挂牌天数, Length: 95, dtype: int64

In [15]:
df2['天数']=sr
df2

,网址,总价,均价,天数
id,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,380.0,47560,259.0
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,507.0,36071,231.0
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,515.0,49306,229.0
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,305.0,34731,208.0
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,260.0,47247,201.0
...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,509.0,121191,4.0
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,173.0,37495,4.0
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1120.0,102970,4.0
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,607.0,80729,NaN
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,372.0,41822,NaN

In [18]:
import numpy as np
import pandas as pd
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='房屋成交信息')
df
df[['id','链家网址']]

              id                                               链家网址
0   101101492812  https://bj.lianjia.com/chengjiao/101101492812....
1   101101594408  https://bj.lianjia.com/chengjiao/101101594408....
2   101101601669  https://bj.lianjia.com/chengjiao/101101601669....
3   101101685048  https://bj.lianjia.com/chengjiao/101101685048....
4   101101704540  https://bj.lianjia.com/chengjiao/101101704540....
..           ...                                                ...
92  101102446043  https://bj.lianjia.com/chengjiao/101102446043....
93  101102446345  https://bj.lianjia.com/chengjiao/101102446345....
94  101102447671  https://bj.lianjia.com/chengjiao/101102447671....
95  101102451242  https://bj.lianjia.com/chengjiao/101102451242....
96  101102452309  https://bj.lianjia.com/chengjiao/101102452309....

[97 rows x 2 columns]

In [19]:
import numpy as np
import pandas as pd
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='房屋成交信息',index_col='id')
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [20]:
df.loc[101102452309]

链家网址      https://bj.lianjia.com/chengjiao/101102452309....
所在社区编号                                        1111027380051
交易时间                                    2018-01-03 00:00:00
挂牌天数                                                      2
关注人数                                                      0
总价                                                      372
平米均价                                                  41822
面积                                                    88.95
卧室                                                        2
客厅                                                        1
厨房                                                        1
浴室                                                        1
楼层信息                                                    高 6
建成时间                                                   2001
Name: 101102452309, dtype: object

In [21]:
df.loc[101102134610:101102196240]

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101102134610,https://bj.lianjia.com/chengjiao/101102134610....,1111027376959,2018-01-03,98,39,642.0,117583,54.60,2,1,1,1,高 6,1981
101102158470,https://bj.lianjia.com/chengjiao/101102158470....,1111027381711,2018-01-03,89,15,1655.0,89204,185.53,3,1,1,2,中 16,2001
101102172813,https://bj.lianjia.com/chengjiao/101102172813....,1111027376254,2018-01-03,86,97,510.0,46910,108.72,2,1,1,1,中 25,2004
101102196240,https://bj.lianjia.com/chengjiao/101102196240....,1111027379032,2018-01-03,80,71,330.0,36971,89.26,3,1,1,1,中 20,2010

In [22]:
df.loc[[101101711072,101102087081,101102331601 ]]

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101711072,https://bj.lianjia.com/chengjiao/101101711072....,1111027375945,2018-01-03,200,313,665.0,49013,135.68,3,1,1,2,中 28,2008
101102087081,https://bj.lianjia.com/chengjiao/101102087081....,1111027377889,2018-01-03,109,67,250.0,42453,58.89,1,1,1,1,低 6,1995
101102331601,https://bj.lianjia.com/chengjiao/101102331601....,1111027381745,2018-01-03,41,61,440.0,37314,117.92,2,2,1,2,中 6,2002

In [24]:
df.iloc[2:6]

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
101101711072,https://bj.lianjia.com/chengjiao/101101711072....,1111027375945,2018-01-03,200,313,665.0,49013,135.68,3,1,1,2,中 28,2008

In [28]:
df[df['关注人数']==0]

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101102244732,https://bj.lianjia.com/chengjiao/101102244732....,1111027378724,2018-01-03,67,0,222.0,60000,37.00,1,1,1,1,中 15,1991
101102378934,https://bj.lianjia.com/chengjiao/101102378934....,1111027374616,2018-01-03,27,0,339.0,60590,55.95,2,1,1,1,中 6,1986
101102383627,https://bj.lianjia.com/chengjiao/101102383627....,1111027377179,2018-01-03,26,0,760.0,102856,73.89,1,1,1,1,中 14,2005
101102406817,https://bj.lianjia.com/chengjiao/101102406817....,1111027377721,2018-01-03,18,0,507.0,43124,117.57,3,1,1,2,中 6,2004
101102431831,https://bj.lianjia.com/chengjiao/101102431831....,1111027380043,2018-01-03,10,0,386.0,39615,97.44,2,1,1,2,中 6,2004
101102434018,https://bj.lianjia.com/chengjiao/101102434018....,1111027381935,2018-01-03,9,0,219.0,24771,88.41,2,1,1,1,中 6,2012
101102438759,https://bj.lianjia.com/chengjiao/101102438759....,1111027375384,2018-01-03,7,0,530.0,44419,119.32,3,1,1,1,底 6,2006
101102439295,https://bj.lianjia.com/chengjiao/101102439295....,1111027376788,2018-01-03,7,0,190.0,20128,94.40,2,2,1,1,底 6,1998
101102445248,https://bj.lianjia.com/chengjiao/101102445248....,1111027379066,2018-01-03,5,0,277.0,41699,66.43,1,1,1,1,中 9,2006
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [29]:
df[(df['总价']>200)&(df['总价']<400)]

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
101101739667,https://bj.lianjia.com/chengjiao/101101739667....,1111041160125,2018-01-03,192,125,316.0,40446,78.13,2,1,1,1,顶 22,2008
101101823047,https://bj.lianjia.com/chengjiao/101101823047....,1111027378386,2018-01-03,171,68,395.0,44887,88.00,2,1,1,1,低 6,2001
101101885869,https://bj.lianjia.com/chengjiao/101101885869....,1111027378224,2018-01-03,157,92,375.0,72675,51.60,1,1,1,1,高 18,2007
101102073737,https://bj.lianjia.com/chengjiao/101102073737....,1111045368414,2018-01-03,113,130,211.0,42739,49.37,1,1,1,1,高 15,2012
101102087081,https://bj.lianjia.com/chengjiao/101102087081....,1111027377889,2018-01-03,109,67,250.0,42453,58.89,1,1,1,1,低 6,1995
101102088408,https://bj.lianjia.com/chengjiao/101102088408....,1111027378493,2018-01-03,110,134,325.5,55804,58.33,1,1,1,1,中 17,1989
101102196240,https://bj.lianjia.com/chengjiao/101102196240....,1111027379032,2018-01-03,80,71,330.0,36971,89.26,3,1,1,1,中 20,2010
101102199056,https://bj.lianjia.com/chengjiao/101102199056....,1111027374637,2018-01-03,80,40,356.0,51971,68.50,1,1,1,1,顶 22,2001
101102217765,https://bj.lianjia.com/chengjiao/101102217765....,1111027378789,2018-01-03,74,23,270.0,25902,104.24,2,1,1,1,低 19,2006
101102227692,https://bj.lianjia.com/chengjiao/101102227692....,1111027376896,2018-01-03,72,9,335.0,69474,48.22,1,1,1,1,高 6,1996
101102234186,https://bj.lianjia.com/chengjiao/101102234186....,1111046997447,2018-01-03,70,52,300.0,33857,88.61,3,2,1,1,低 16,2014
101102244732,https://bj.lianjia.com/chengjiao/101102244732....,1111027378724,2018-01-03,67,0,222.0,60000,37.00,1,1,1,1,中 15,1991
101102257553,https://bj.lianjia.com/chengjiao/101102257553....,1111027377330,2018-01-03,63,52,250.0,39039,64.04,2,1,1,1,高 6,1998
101102271381,https://bj.lianjia.com/chengjiao/101102271381....,1111027377342,2018-01-03,60,191,295.0,55882,52.79,2,1,1,1,顶 6,1979
101102292185,https://bj.lianjia.com/chengjiao/101102292185....,1111027376334,2018-01-03,54,33,260.0,48772,53.31,1,1,1,1,高 22,2009
101102296349,https://bj.lianjia.com/chengjiao/101102296349....,1111027380074,2018-01-03,53,106,217.0,42516,51.04,1,1,1,1,高 6,1997
101102296820,https://bj.lianjia.com/chengjiao/101102296820....,1111027379657,2018-01-03,53,59,370.0,63487,58.28,1,1,1,1,高 24,1998
101102305206,https://bj.lianjia.com/chengjiao/101102305206....,1111027378131,2018-01-03,50,254,330.0,52216,63.20,1,1,1,1,中 11,2011
101102339564,https://bj.lianjia.com/chengjiao/101102339564....,1111027377441,2018-01-03,39,51,380.0,50492,75.26,2,1,1,1,中 11,2007
101102345112,https://bj.lianjia.com/chengjiao/101102345112....,1111027377297,2018-01-03,37,40,396.0,51826,76.41,2,1,1,1,中 28,2008
101102363365,https://bj.lianjia.com/chengjiao/101102363365....,1111027381444,2018-01-03,32,38,222.5,40647,54.74,2,1,1,1,中 6,1993
101102365237,https://bj.lianjia.com/chengjiao/101102365237....,1111047917139,2018-01-03,32,26,377.0,41931,89.91,3,2,1,1,中 9,2011
101102378934,https://bj.lianjia.com/chengjiao/101102378934....,1111027374616,2018-01-03,27,0,339.0,60590,55.95,2,1,1,1,中 6,1986
101102383096,https://bj.lianjia.com/chengjiao/101102383096....,1111027381067,2018-01-03,26,14,350.0,70708,49.50,2,1,1,1,中 6,1992
101102388214,https://bj.lianjia.com/chengjiao/101102388214....,1111027377413,2018-01-03,24,67,355.0,62966,56.38,1,1,1,1,高 13,2005
101102391715,https://bj.lianjia.com/chengjiao/101102391715....,1111027381705,2018-01-03,23,82,386.0,60626,63.67,2,1,1,1,中 6,1990
101102392715,https://bj.lianjia.com/chengjiao/101102392715....,1111027379961,2018-01-03,22,39,352.0,60274,58.40,2,1,1,1,中 6,1989
101102396155,https://bj.lianjia.com/chengjiao/101102396155....,1111027376334,2018-01-03,22,33,239.0,44524,53.68,1,1,1,1,低 22,2009
101102404944,https://bj.lianjia.com/chengjiao/101102404944....,1111027377595,2018-01-03,19,38,348.0,77923,44.66,1,0,1,1,高 27,2006
101102410580,https://bj.lianjia.com/chengjiao/101102410580....,1111027375945,2018-01-03,17,19,365.0,52534,69.48,1,1,1,1,高 27,2009
101102414124,https://bj.lianjia.com/chengjiao/101102414124....,1111027378998,2018-01-03,16,87,386.0,118007,32.71,1,1,1,2,中 12,2005
101102414846,https://bj.lianjia.com/chengjiao/101102414846....,1111027380971,2018-01-03,15,27,290.0,38657,75.02,2,1,1,1,顶 6,2000
101102417538,https://bj.lianjia.com/chengjiao/101102417538....,1111027380045,2018-01-03,14,23,376.5,37237,101.11,2,2,1,2,低 6,2000
101102419481,https://bj.lianjia.com/chengjiao/101102419481....,1111027380057,2018-01-03,14,29,387.0,37842,102.27,2,1,1,1,高 20,2008
101102420495,https://bj.lianjia.com/chengjiao/101102420495....,1111027375203,2018-01-03,13,96,361.0,93767,38.50,1,1,1,1,中 4,1979
101102430595,https://bj.lianjia.com/chengjiao/101102430595....,1111027376834,2018-01-03,10,75,254.0,29152,87.13,2,1,1,1,低 22,2008
101102431831,https://bj.lianjia.com/chengjiao/101102431831....,1111027380043,2018-01-03,10,0,386.0,39615,97.44,2,1,1,2,中 6,2004
101102433507,https://bj.lianjia.com/chengjiao/101102433507....,1111027380042,2018-01-03,9,11,378.0,33002,114.54,2,2,1,2,顶 6,2000
101102434018,https://bj.lianjia.com/chengjiao/101102434018....,1111027381935,2018-01-03,9,0,219.0,24771,88.41,2,1,1,1,中 6,2012
101102437883,https://bj.lianjia.com/chengjiao/101102437883....,1111027378968,2018-01-03,7,20,222.0,39728,55.88,2,1,1,1,顶 6,1997
101102441034,https://bj.lianjia.com/chengjiao/101102441034....,1111027379515,2018-01-03,6,23,354.5,45432,78.03,3,1,1,1,高 18,2009
101102441114,https://bj.lianjia.com/chengjiao/101102441114....,1111027374970,2018-01-03,6,23,305.0,50547,60.34,1,1,1,1,高 18,1999
101102445248,https://bj.lianjia.com/chengjiao/101102445248....,1111027379066,2018-01-03,5,0,277.0,41699,66.43,1,1,1,1,中 9,2006
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [31]:
df[(df['建成时间']==2006)&(df['挂牌天数']<400]

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101102111185,https://bj.lianjia.com/chengjiao/101102111185....,1111027382608,2018-01-03,103,33,410.0,36795,111.43,2,1,1,1,中 11,2006
101102217765,https://bj.lianjia.com/chengjiao/101102217765....,1111027378789,2018-01-03,74,23,270.0,25902,104.24,2,1,1,1,低 19,2006
101102338279,https://bj.lianjia.com/chengjiao/101102338279....,1111027373686,2018-01-03,39,24,595.0,80887,73.56,1,2,1,1,中 21,2006
101102404944,https://bj.lianjia.com/chengjiao/101102404944....,1111027377595,2018-01-03,19,38,348.0,77923,44.66,1,0,1,1,高 27,2006
101102438759,https://bj.lianjia.com/chengjiao/101102438759....,1111027375384,2018-01-03,7,0,530.0,44419,119.32,3,1,1,1,底 6,2006
101102445248,https://bj.lianjia.com/chengjiao/101102445248....,1111027379066,2018-01-03,5,0,277.0,41699,66.43,1,1,1,1,中 9,2006

In [33]:
df[['建成时间','所在社区编号','总价','面积','链家网址']]

,建成时间,所在社区编号,总价,面积,链家网址
id,,,,,
101101492812,2004,1111027377718,380.0,79.90,https://bj.lianjia.com/chengjiao/101101492812....
101101594408,2009,1111027379032,507.0,140.56,https://bj.lianjia.com/chengjiao/101101594408....
101101601669,2001,1111027381021,515.0,104.45,https://bj.lianjia.com/chengjiao/101101601669....
101101685048,2012,1111052857099,305.0,87.82,https://bj.lianjia.com/chengjiao/101101685048....
101101704540,1986,1111027378400,260.0,55.03,https://bj.lianjia.com/chengjiao/101101704540....
...,...,...,...,...,...
101102446043,1985,1111027378900,509.0,42.00,https://bj.lianjia.com/chengjiao/101102446043....
101102446345,1990,1111052073923,173.0,46.14,https://bj.lianjia.com/chengjiao/101102446345....
101102447671,2005,1111027380943,1120.0,108.77,https://bj.lianjia.com/chengjiao/101102447671....
101102451242,2003,1111027381533,607.0,75.19,https://bj.lianjia.com/chengjiao/101102451242....
101102452309,2001,1111027380051,372.0,88.95,https://bj.lianjia.com/chengjiao/101102452309....

In [36]:
df3=df[['交易时间','挂牌天数','平米均价','面积']]
df3.loc[101102111185:101102172813]

                   交易时间  挂牌天数    平米均价      面积
id
101102111185 2018-01-03   103   36795  111.43
101102134610 2018-01-03    98  117583   54.60
101102158470 2018-01-03    89   89204  185.53
101102172813 2018-01-03    86   46910  108.72

In [39]:
df.iloc[2:9,7:10]

                  面积  卧室  客厅
id
101101601669  104.45   3   1
101101685048   87.82   2   1
101101704540   55.03   2   1
101101711072  135.68   3   1
101101739667   78.13   2   1
101101814992  180.48   3   1
101101823047   88.00   2   1

In [42]:
df.loc[(df['关注人数']>100)&(df['挂牌天数']<90),['面积','卧室']]

                  面积  卧室
id
101102213253   56.50   2
101102233979  144.45   3
101102271381   52.79   2
101102296349   51.04   1
101102305206   63.20   1
101102373488  101.58   2

In [1]:
import numpy as np
import pandas as pd
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house.xlsx',sheet_name='房屋成交信息',index_col='id')
df

,链家网址,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间
id,,,,,,,,,,,,,,
101101492812,https://bj.lianjia.com/chengjiao/101101492812....,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004
101101594408,https://bj.lianjia.com/chengjiao/101101594408....,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009
101101601669,https://bj.lianjia.com/chengjiao/101101601669....,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001
101101685048,https://bj.lianjia.com/chengjiao/101101685048....,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012
101101704540,https://bj.lianjia.com/chengjiao/101101704540....,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101102446043,https://bj.lianjia.com/chengjiao/101102446043....,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985
101102446345,https://bj.lianjia.com/chengjiao/101102446345....,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990
101102447671,https://bj.lianjia.com/chengjiao/101102447671....,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005
101102451242,https://bj.lianjia.com/chengjiao/101102451242....,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003
101102452309,https://bj.lianjia.com/chengjiao/101102452309....,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001

In [3]:
df1=df[['卧室','厨房']]
df1.add(1)

              卧室  厨房
id
101101492812   3   2
101101594408   4   2
101101601669   4   2
101101685048   3   2
101101704540   3   2
...           ..  ..
101102446043   2   2
101102446345   2   2
101102447671   4   2
101102451242   3   2
101102452309   3   2

[97 rows x 2 columns]

In [5]:
df2=df[['总价','面积','平米均价']]
df2.multiply(0.9)

                  总价       面积      平米均价
id
101101492812   342.0   71.910   42804.0
101101594408   456.3  126.504   32463.9
101101601669   463.5   94.005   44375.4
101101685048   274.5   79.038   31257.9
101101704540   234.0   49.527   42522.3
...              ...      ...       ...
101102446043   458.1   37.800  109071.9
101102446345   155.7   41.526   33745.5
101102447671  1008.0   97.893   92673.0
101102451242   546.3   67.671   72656.1
101102452309   334.8   80.055   37639.8

[97 rows x 3 columns]

In [6]:
df2-df2*0.1

                  总价       面积      平米均价
id
101101492812   342.0   71.910   42804.0
101101594408   456.3  126.504   32463.9
101101601669   463.5   94.005   44375.4
101101685048   274.5   79.038   31257.9
101101704540   234.0   49.527   42522.3
...              ...      ...       ...
101102446043   458.1   37.800  109071.9
101102446345   155.7   41.526   33745.5
101102447671  1008.0   97.893   92673.0
101102451242   546.3   67.671   72656.1
101102452309   334.8   80.055   37639.8

[97 rows x 3 columns]

In [7]:
import numpy as np
import pandas as pd
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\house2.xlsx',sheet_name='房屋成交信息',index_col='id')
df

,所在社区编号,交易时间,挂牌天数,关注人数,总价,平米均价,面积,卧室,客厅,厨房,浴室,楼层信息,建成时间,链家网址
id,,,,,,,,,,,,,,
逸成东01,1111027381533,2018-01-03,2,0,607.0,80729,75.19,2,1,1,1,中 22,2003,https://bj.lianjia.com/chengjiao/101102451242....
天通苑05,1111027380051,2018-01-03,2,0,372.0,41822,88.95,2,1,1,1,高 6,2001,https://bj.lianjia.com/chengjiao/101102452309....
汽南小01,1111027378900,2018-01-03,4,0,509.0,121191,42.00,1,1,1,1,顶 6,1985,https://bj.lianjia.com/chengjiao/101102446043....
门头沟01,1111052073923,2018-01-03,4,0,173.0,37495,46.14,1,1,1,1,顶 6,1990,https://bj.lianjia.com/chengjiao/101102446345....
新街口01,1111027380943,2018-01-03,4,0,1120.0,102970,108.77,3,1,1,2,中 6,2005,https://bj.lianjia.com/chengjiao/101102447671....
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
模式口01,1111027378400,2018-01-03,201,2,260.0,47247,55.03,2,1,1,1,中 6,1986,https://bj.lianjia.com/chengjiao/101101704540....
绿地新01,1111052857099,2018-01-03,208,38,305.0,34731,87.82,2,1,1,1,高 14,2012,https://bj.lianjia.com/chengjiao/101101685048....
兴隆家01,1111027381021,2018-01-03,229,100,515.0,49306,104.45,3,1,1,1,中 24,2001,https://bj.lianjia.com/chengjiao/101101601669....
融科香01,1111027379032,2018-01-03,231,9,507.0,36071,140.56,3,2,1,2,中 6,2009,https://bj.lianjia.com/chengjiao/101101594408....
龙博苑01,1111027377718,2018-01-03,259,226,380.0,47560,79.90,2,1,1,1,中 6,2004,https://bj.lianjia.com/chengjiao/101101492812....

In [12]:
df1=df.loc['模式口01':'龙博苑01',['关注人数','挂牌天数']]
np.sum(df1)

关注人数     375
挂牌天数    1128
dtype: int64

In [14]:
df2=df.loc[df['总价']>500,['总价','面积']]
np.mean(df2)

总价    749.882353
面积    106.378824
dtype: float64

In [15]:
np.sum(df[['卧室','厨房','浴室']],axis=1)

id
逸成东01    4
天通苑05    4
汽南小01    3
门头沟01    3
新街口01    6
        ..
模式口01    4
绿地新01    4
兴隆家01    5
融科香01    6
龙博苑01    4
Length: 97, dtype: int64

In [19]:
df1 = df.loc['模式口01':'龙博苑01', ['关注人数', '挂牌天数']]
s1 = np.sum(df1, axis=0)

df2 = df.loc[df['总价']>500, ['总价', '面积']]
s2 = np.mean(df2, axis=0)

df3 = df[['卧室', '厨房', '浴室']]
s3 = np.sum(df3, axis=1)
s3

id
逸成东01    4
天通苑05    4
汽南小01    3
门头沟01    3
新街口01    6
        ..
模式口01    4
绿地新01    4
兴隆家01    5
融科香01    6
龙博苑01    4
Length: 97, dtype: int64

In [20]:
import numpy as np
import pandas as pd
df=pd.read_excel(r'C:\Users\YcAllenEffy\Desktop\产业.xlsx',sheet_name=[0,1])
df

{0:      年份     运输业      零售业     餐饮业      金融业      房地产
 0  2007  360307  1297371  248828  2201548   791195
 1  2008  368636  1331268  248854  3005210   754386
 2  2009  356222  1449460  244691  3334017   976461
 3  2010  429900  1779493  282674  3902288  1078024
 4  2011  471526  2231524  327262  4552216  1076877
 5  2012  498704  2738273  351527  4916122  1279807,
 1:      年份     运输业      零售业     餐饮业      金融业      房地产
 0  2007  553071  3100157  380216  5357270  1287651
 1  2008  576980  3273780  440282  5824880  1360515
 2  2009  614773  3428075  469439  6430203  1545284
 3  2010  703770  3712128  488497  7189684  2152141
 4  2011  862742  3778315  510097  7390338  2114842
 5  2012  548554  3784740  598940  7412516  2177509}